{% extends "page.html" %}
{% load i18n %}
{% load static %}
{% load breadcrumbs %}
{% block breadcrumb.content %}{% endblock %}
{% block content %}
  {#    <div class="govuk-grid-column-full-width">#}
  {#      {% block content_heading %}#}
  {#        <h1 class="govuk-heading-xl">#}
  {#          {% block title_text %}#}
  {#          {% endblock %}#}
  {#        </h1>#}
  {#      {% endblock %}#}
  {#      {% block subtitle %}#}
  {#        <p class="govuk-body-l">#}
  {#          {% block subtitle_text %}#}
  {#          {% endblock subtitle_text %}#}
  {#        </p>#}
  {#      {% endblock %}#}
  {##}
  {#      {% block content_body %}#}
  {#      {% endblock %}#}
  {#    </div>#}
{% endblock %}
