{% extends "data_quality/base.html" %}

{% load i18n %}
{% load filters %}

{% block title_tag %}
    {% trans 'Data quality report' %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-!-margin-bottom-4" style="display:flex;">
        <div class="govuk-!-font-size-48 govuk-list govuk-!-margin-0">
          <span class="">Data quality report 
          </span> 
        </div>
        <div class="" style="align-content: center;" >
          {% if warning_data.Critical.count == 0 %}
          <span class="govuk-tag govuk-tag--green govuk-!-margin-left-3" style="align-content: center;">
            No issues
            </span>
          {% else %}
          <span class="govuk-tag govuk-tag--red govuk-!-margin-left-3" style="align-content: center;">
          critical issues
          </span>
          {% endif %}
        </div>
      </div>
      <h2 class="govuk-list govuk-!-font-size-24">
        {{ title }}
      </h2>
      <ul class="govuk-list">
        <li>
          {% trans 'Please find your data quality observations below.' %}
        </li>
        <li>
        <a class="govuk-link" href="{% url 'guidance:dq-definitions' %}" target="_blank">
          {% trans 'What are the different type of observations?' %}</a>
        </li>
        <li>
        <a class="govuk-link" target="_blank"
          href="{% url 'dq:report-csv' pk1=view.kwargs.pk1 pk=view.kwargs.pk report_id=view.kwargs.report_id %}">
          {% trans 'Download data quality report.csv' %}</a>
        </li>
      </ul>
      <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-full govuk-grid-column-three-quarters-from-desktop">
          <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter-from-desktop">
              <p class="govuk-heading-xl govuk-!-margin-bottom-0">
                {{ bus_services_affected }}
              </p>
              <p class="govuk-body-s govuk-!-font-weight-bold">
                Affected <br>Bus service {{ bus_services_affected|pluralize:"s" }}
              </p>
            </div>

            <div class="govuk-grid-column-one-quarter-from-desktop">
              <p class="govuk-heading-xl govuk-!-margin-bottom-0">
                {{ warning_data.Critical.count }}
              </p>
              <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-padding-1">
                Critical observation{{ warning_data.Critical.count |pluralize:"s" }}
              </p>
            </div>

            <div class="govuk-grid-column-one-quarter-from-desktop">
              <p class="govuk-heading-xl govuk-!-margin-bottom-0">
                {{ warning_data.Advisory.count }}
              </p>
              <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-padding-1">
                Advisory observation{{ warning_data.Advisory.count|pluralize:"s" }}
              </p>
            </div>

          </div>
        </div>
      </div>

      {% include 'data_quality/snippets/report_overview_table.html' %}
    </div>
  </div>
{% endblock %}
