{% load crispy_forms_tags %}

<table class="govuk-table">
  <caption class="govuk-table__caption" style="font-weight: normal; border-bottom: 1px solid #bfc1c3;">
    National operator code
  </caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header" style="display:none">NOC</th>
    <th scope="col" class="govuk-table__header" style="display:none">Action</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body" id="id_{{ formset.prefix }}-formset">
  {% for form in formset %}
      {% crispy form %}
  {% endfor %}
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2" class="govuk-!-padding-top-2">
      <button type="button"
              id="id_{{ formset.prefix }}-ADD"
              name="{{ formset.prefix }}-ADD"
              class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
        Add new National operator code
      </button>
    </td>
  </tr>
  </tfoot>
</table>

<div id="id_{{ formset.prefix }}-EMPTY_FORM" style="display:none">
    {# Would be nice to use HTML 5's template element here but not supported by IE11 #}
  <table>
    <tbody>
    {% crispy formset.empty_form formset.empty_form.helper %}
    </tbody>
  </table>
</div>


<script>
    window.addEventListener("load", function () {
        // Add button click handler
        document.getElementById('id_{{ formset.prefix }}-ADD')
            .addEventListener(
                "click",
                function () {
                    // Get management form's TOTAL_FORMS input
                    var totalForms = document.getElementById("id_{{ formset.prefix }}-TOTAL_FORMS");
                    var formIdx = totalForms.value;

                    // Get formset
                    var formset = document.getElementById("id_{{ formset.prefix }}-formset");

                    // Each form should be wrapped
                    var emptyForm = document.querySelector("#id_{{ formset.prefix }}-EMPTY_FORM tbody");

                    formset.insertAdjacentHTML(
                        "beforeend",
                        emptyForm.innerHTML.replace(/__prefix__/g, formIdx)
                    );

                    // Increment TOTAL_FORMS
                    totalForms.value = parseInt(formIdx) + 1;
                });
    });
</script>
