{% extends "page.html" %}
{% load static %}
{% load breadcrumbs %}
{% load i18n %}

{% block title_tag %}
    {% trans 'Use Bus Open Data Service API' %}
{% endblock %}

{# c.f. https://petstore.swagger.io/?_ga=2.232423831.96874064.1570887934-705927868.1570887934 #}
{% block breadcrumb.content %}
    {{ block.super }}
    {% breadcrumb_url 'Try API Service' 'api-select' host hosts.data %}
    {% breadcrumb 'Location data API' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-width-container">

            <div id="swagger-ui"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        BODSFrontend.initAPIDocs('#swagger-ui', "{% static "openapi/avl.yml" %}")
    </script>
    <style>
        /* Add CSS to hide the response section on page load */
        .responses-wrapper {
            display: none;
        }
    </style>
    <script>
        // Function to show the response section
        function showResponseSection() {
            const responseSection = document.querySelector(".responses-wrapper");
            if (responseSection) {
                responseSection.style.display = "block";
            }
        }

        function hideResponseSection() {
            const responseSection = document.querySelector(".responses-wrapper");
            if (responseSection) {
                responseSection.style.display = "none";
            }
        }

        function bindExecuteButtonClickEvent() {
            $(document).on("click", "button.btn.btn-clear", function () {
                hideResponseSection()
            });

            const executeButton = document.querySelector('button.execute');
            if(executeButton) {
                executeButton.addEventListener('click', function () {
                    // Show response section when the "Execute" button is clicked
                    showResponseSection()
                    gtag('event', 'Execute API button', {
                        'event_category': 'button',
                        'event_label': 'timetables swagger',
                        'event_action': 'click'
                    });
                });
            }
            
        }

        $(document).ready(function () {
            $(document).on("click", "button.btn.try-out__btn", function () {
                // After "Try it out" is clicked, bind the click event to the "Execute" button
                bindExecuteButtonClickEvent()
            });
        });
    </script>
{% endblock %}
