{% extends "page.html" %}
{% load static %}
{% load breadcrumbs %}
{% load i18n %}

{% block title_tag %}
  {% trans 'Fares data API' %}
{% endblock %}

{# c.f. https://petstore.swagger.io/?_ga=2.232423831.96874064.1570887934-705927868.1570887934 #}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Try API Service' 'api-select' host hosts.data %}
  {% breadcrumb 'Fares data API' %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <div id="swagger-ui"></div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    BODSFrontend.initAPIDocs('#swagger-ui', "{% static "openapi/fares3.yml" %}")
  </script>
  <script>
    $(document).ready(function () {
      $(document).on("click", "button.btn.execute", function () {
        gtag('event', 'Execute API button', {
          'event_category': 'button',
          'event_label': 'fares swagger',
          'event_action': 'click'
        });
      });
    });
  </script>
{% endblock %}
