{% extends "page.html" %}
{% load static %}
{% load breadcrumbs %}
{% load i18n %}
{% block title_tag %}
  {% trans "Use Bus Open Data Service API" %}
{% endblock %}
{# c.f. https://petstore.swagger.io/?_ga=2.232423831.96874064.1570887934-705927868.1570887934 #}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'API services' 'api-select' host hosts.data %}
  {% breadcrumb_url 'Timetables data API' 'api:timetableopenapi' host hosts.data %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-xl dont-break-out" aria-label="Heading Title">Timetables data API</h1>
      <p class="govuk-body">
        You can use the interactive documentation
        to customise your API response using the available query parameters.
        If you are registered and logged in, you will be given a full response.
        Otherwise you will be given an example response.
      </p>
      <p class="govuk-body">
        You can also <a class="govuk-link" href="{% static 'openapi/timetables.yml' %}">download the timetables OpenAPI specification</a>.
      </p>
      <h3 class="govuk-heading-m">Ready to use the API?</h3>
      <p>
        <a class="govuk-link" href="{% url 'guidance:support-developer' host hosts.data %}?section=api">View developer documentation</a>
      </p>
      <h3 class="govuk-heading-m">First time API user?</h3>
      <p>
        <a class="govuk-link" href="{% url 'guide-me' host hosts.data %}">Guide me</a>
      </p>
      <div id="swagger-ui"></div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script nonce="{{request.csp_nonce}}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script nonce="{{request.csp_nonce}}">BODSFrontend.initAPIDocs('#swagger-ui', "{% static 'openapi/timetables.yml' %}")</script>
  <script nonce="{{request.csp_nonce}}">
        function bindExecuteButtonClickEvent() {

            const executeButton = document.querySelector('button.execute');
            if(executeButton) {
                executeButton.addEventListener('click', function () {
                    gtag('event', 'Execute API button', {
                        'event_category': 'button',
                        'event_label': 'timetables swagger',
                        'event_action': 'click'
                    });
                });
            }

        }

        $(document).ready(function () {
            $(document).on("click", "button.btn.try-out__btn", function () {
                // After "Try it out" is clicked, bind the click event to the "Execute" button
                bindExecuteButtonClickEvent()
            });
        });
  </script>
{% endblock %}
