{% extends "page.html" %}
{% load i18n %}
{% load static %}
{% block title_tag %}
  {% trans "Contact us" %}
{% endblock %}
{% block breadcrumb.content %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
      <h1 class="govuk-heading-l">
        {% trans "Contact the Bus Open Data Service" %}
      </h1>
      <h2 class="govuk-heading-s">
        {% trans "Feedback and support" %}
      </h2>
      <div>
        <p class="govuk-body-m">
          {% blocktrans %}
          If you require support or are experiencing issues, please contact the Bus Open
          Data Service Help Desk.
          {% endblocktrans %}
        </p>
        <p class="govuk-body-m">
          {% blocktrans %}
          The Help Desk is available Monday to Friday, 9am to 5pm (excluding Bank Holidays
          in England and Wales, and the 24th December).
          {% endblocktrans %}
        </p>
        <p class="govuk-body-m">
          {% blocktrans %}
          The Help Desk can be contacted by telephone or email as follows.
          {% endblocktrans %}
        </p>
        <ul class="govuk-list">
          <li>
            {% trans "Telephone: " %}
            +44 (0) 800 028 0930
          </li>
          <li>
            {% trans "Email: " %}
            <a class="govuk-link" href="mailto:bodshelpdesk@kpmg.co.uk">bodshelpdesk@kpmg.co.uk</a>
          </li>
        </ul>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
      <div>
        <h2 class="govuk-heading-s">
          {% trans "Share your stories" %}
        </h2>
        <ul class="govuk-list">
          <li>
            {% trans "Please share your bus open data stories via Twitter, using the " %}
            <a class="govuk-link" href="https://twitter.com/busopendata" target="_blank">@busopendata</a>
            {% trans " account and " %}
            <a class="govuk-link" href="https://twitter.com/hashtag/BusOpenData" target="_blank">#BusOpenData</a>
            {% trans "hashtag." %}
          </li>
        </ul>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
      <div>
        <h2 class="govuk-heading-s">
          {% trans "Media enquiries" %}
        </h2>
        <p class="govuk-body">
          <a class="govuk-link"
             target="_blank"
             href="https://www.gov.uk/government/organisations/department-for-transport/about/media-enquiries">
            https://www.gov.uk/government/organisations/department-for-transport/about/media-enquiries
          </a>
        </p>
        <p class="govuk-body">
          {% trans "The Department for Transport press office only deals with enquiries from the media." %}
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
      <h2 class="govuk-heading-m">
        {% trans "Bus Open Data Service" %}
      </h2>
      <div>
        <p class="govuk-body-m">
          {% blocktrans %}
            The Bus Open Data Service enables local bus operators in England to publish
            higher quality data about timetables, fares and real time data.
          {% endblocktrans %}
        </p>
        <ul class="govuk-list app-list--nav govuk-!-font-size-19">
          <li>
            <a class="govuk-link"
               href="https://www.gov.uk/government/consultations/bus-services-act-2017-bus-open-data"
               target="_blank">{% trans "Find out more about Bus Open Data Service" %}</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-transport" target="_blank">
              {% trans "Department for Transport" %}
            </a>
          </li>
        </ul>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
      <h2 class="govuk-heading-s">
        {% trans "Follow us" %}
      </h2>
      <div>
        <p class="govuk-body-m">
          <a href="https://twitter.com/busopendata?ref_src=twsrc%5Etfw" class="govuk-link" target="_blank">
            <img class="account-menu__icon"
                 src="{% static 'frontend/images/twitter_icon.png' %}"
                 alt="twitter icon"
                 style="width: 26px;
                        height: 26px" />
            {% trans "Bus open data service Twitter" %}
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
