# Byte-compiled / optimized / DLL files
# Exported strings & generated translation templates
# JS dependencies
# Packaging
# SASS
# Settings
# Site media
# Swap files
# Temp files
# Tests
# Unit test / coverage reports
# logs
# sqlite DB
# virtualenv
*.db
*.egg-info
*.pot
*.py[cod]
*.sw[po]
*~
.cache
.coverage
.pytest_cache
.sass-cache
.tox
.venv
.~lock*
/data/
/sandbox/settings/local.py
__pycache__/
build
coverage.xml
db.sqlite3
dist
htmlcov/
node_modules
nosetests.xml
venv
yarn-error.log
