include README.rst

recursive-include crispy_forms_govuk/templates *
recursive-include crispy_forms_govuk/static *
recursive-include crispy_forms_govuk/test_fixtures *


recursive-exclude data *
recursive-exclude docs *
recursive-exclude sandbox *
recursive-exclude tests *
recursive-exclude * .cache
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
