{% load i18n %}
<h2 class="govuk-heading-m">{% trans "Need help with operator data requirements?" %}</h2>
<ul class="govuk-list app-list--nav govuk-!-font-size-19">
  <li>
    <a class="govuk-link" href="{% url 'guidance:support-bus_operators' host hosts.publish %}">
      {% trans "View our guidelines here" %}
    </a>
  </li>
  <li>
    <a class="govuk-link" href="{% url 'contact' host hosts.root %}">{% trans "Contact support desk" %}</a>
  </li>
  <li>
    <a class="govuk-link" href="{% url 'guidance:support-bus_operators' host hosts.publish %}?section=dataquality">
      {% trans "AVL feed compliance guidance" %}
    </a>
  </li>
  <li>
    <a class="govuk-link"
       href="{% url 'guidance:support-bus_operators' host hosts.publish %}?section=dataquality#avl-to-timetable-matching">
      {% trans "AVL to Timetables matching guidance" %}
    </a>
  </li>
</ul>
