{% extends "account/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% trans 'Sign out' %}
{% endblock %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'My account' 'users:home' host host.name %}
  {% breadcrumb_url 'Sign out' 'account_logout' host host.name %}
{% endblock %}
{% block head_title %}
  {% trans 'Sign out' %}
{% endblock %}
{% block inner %}
  <p class="govuk-body">
    {% trans 'Are you sure you want to sign out?' %}
  </p>
  <form method="post" action="{% url 'account_logout' host host.name %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="govuk-button" type="submit">
      {% trans 'Sign out' %}
    </button>
  </form>
{% endblock %}
{% block inner_secondary %}
{% endblock %}
