{% extends "account/base.html" %}
{#Template used to allow user to request password reset.#}
{#See https://django-allauth.readthedocs.io/en/latest/views.html#password-reset-account-reset-password#}
{#After email is sent, user is navigated to 'accounts/password_reset_from_key' template#}
{% load account %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% block title_tag %}
  {% if form.errors %}
    {% trans 'Error: ' %}
  {% endif %}
  {% trans 'Reset password' %}
{% endblock %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Sign in' 'account_login' %}
  {% breadcrumb_url 'Reset password' 'account_reset_password' host host.name %}
{% endblock %}
{% block head_title %}
  {% trans 'Forgot your password?' %}
{% endblock %}
{% block inner %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p class="govuk-body">
    {% trans "Enter your email address to reset your password." %}
  </p>
  {% crispy form %}
{% endblock %}
{% block inner_secondary %}
  {% include 'account/snippets/create_an_account.html' %}
{% endblock %}
