{% extends "account/base.html" %}
{#The template is used by AllAuth to set a password for a user which has signed up via social auth#}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
  {% trans "Set Password" %}
{% endblock %}
{% block inner %}
  <h1>
    {% trans "Set Password" %}
  </h1>
  <form method="POST" action="{% url 'account_set_password' host host.name %}" class="password_set">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" name="action" value="{% trans "Set Password" %}" />
  </form>
{% endblock %}
