{% extends "account/base.html" %}
{% load account %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% trans 'Your password has been reset' %}
{% endblock %}
{% block breadcrumb.content %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{% trans 'Reset password link has been sent' %}</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-m">
        {% blocktrans %}
              If this email address exists in our system we will have sent a password reset email to
            {% endblocktrans %}
        {% if password_reset_email %}
          {{ password_reset_email }}.
        {% else %}
          {# In case user refreshes the page - password_reset_email can only be retrieved from session once #}
          {% trans 'you.' %}
        {% endif %}
        {% blocktrans %}
              Check your email and follow the link within 24 hours to reset your password.
            {% endblocktrans %}
      </p>
      <p class="govuk-body-m govuk-!-margin-bottom-6">
        {% trans 'If you cannot find the email then look in your spam or junk email folder.' %}
      </p>
      <a href="{% url 'home' host host.name %}" role="button" draggable="false" class="govuk-button">{% trans 'Home' %}</a>
    </div>
    <div class="govuk-grid-column-one-third">
      {% block inner_secondary %}{% endblock %}
    </div>
  </div>
{% endblock %}
