{# Note extending users/base.html not account/base.html #}
{% extends "users/base.html" %}
{#This template is used in user management to allow user to change their password,#}
{#see https://django-allauth.readthedocs.io/en/latest/views.html#password-management#}
{% load i18n %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% block title_tag %}
  {% if form.errors %}
    {% trans "Error: " %}
  {% endif %}
  {% trans "Change password" %}
{% endblock %}
{% block breadcrumb.content %}{% endblock %}
{% block backlink %}
  {% url 'users:settings' host host.name as backlink %}
  {% include "snippets/backlink.html" with url=backlink %}
{% endblock %}
{% block content_heading %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{% trans "Change password" %}</h1>
{% endblock %}
{% block subtitle %}
  <p class="govuk-body-m govuk-!-margin-bottom-0">{% trans "Your password should be at least 8 characters long." %}</p>
{% endblock %}
{% block inner %}
  {% crispy form %}
{% endblock %}
