{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}

{% block breadcrumb.content %}
    {{ block.super }}
    {% breadcrumb_url 'Reset password' 'account_reset_password' host host.name %}
{% endblock %}


{% block head_title %}{% trans "Reset Password" %}{% endblock %}


{% block inner %}
    {% if token_fail %}
        {% url 'account_reset_password' host host.name as passwd_reset_url %}
        <h2 class="govuk-heading-m">{% trans "The link you have used is invalid" %}</h2>
        <p class="govuk-body">
            {% blocktrans %}
                The password reset link was invalid, possibly because it has already been used. Please request a
                <a class="govuk-link" href="{{ passwd_reset_url }}">new password reset</a>.
            {% endblocktrans %}
        </p>

    {% else %}
        <p class="govuk-body-l">
            {% blocktrans %}
                Enter your new password in the field below.
            {% endblocktrans %}
        </p>

        {% if form %}
            {% crispy form %}
        {% else %}
            <p class="govuk-body">{% trans 'Your password is now changed.' %}</p>
        {% endif %}

    {% endif %}
{% endblock %}
