{% extends "account/base.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Password changed' 'account_reset_password_done' host host.name %}
{% endblock %}
{% block head_title %}
  {% trans "Reset Password" %}
{% endblock %}
{% block inner %}
  <div class="govuk-panel app-panel--confirmation-nofill">
    <h2 class="govuk-panel__title">{% trans "Password has been reset" %}</h2>
    <div class="govuk-panel__body">
      {% blocktrans %}
                Your password has been successfully reset and you have been logged in.
            {% endblocktrans %}
    </div>
  </div>
  <a href="{% url 'users:home' host host.name %}" role="button" draggable="false" class="govuk-button">
    {% trans "My data account" %}
  </a>
{% endblock %}
