{% extends "browse/base.html" %}
{% load static %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% trans "All location data" %}
{% endblock %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Download All Data' 'downloads' host hosts.data %}
  {% breadcrumb_url 'All Location Data' 'download-avl' host hosts.data %}
{% endblock %}
{% block heading.title.text %}
  {% trans "All location data" %}
{% endblock %}
{% block secondary.title %}
  <h3 class="govuk-heading-l">
    {% trans "Download file" %}
  </h3>
{% endblock %}
{% block heading.subtitle %}
  <p class="govuk-body">
    {% blocktrans %}
            Download a snapshot of all live bus locations at a point in time.
        {% endblocktrans %}
  </p>
  <ul class="govuk-list govuk-!-margin-bottom-3">
    <li>
      <b>
        {% trans "Format:" %}
      </b>
      {% trans "SIRI-VM" %}
      {% include "browse/snippets/help_modals/sirivm.html" %}
      {% filter force_escape %}
        {% trans "GTFS-RT" %}
      {% endfilter %}
      {% include "browse/snippets/help_modals/gtfsrt.html" %}
    </li>
    <li>
      <b>
        {% trans "Mode:" %}
      </b>
      {% trans "Bus" %}
    </li>
    <li>
      <b>
        {% trans "File type:" %}
      </b>
      {% trans "ZIP file" %}
    </li>
    <li>
      <b>
        {% filter force_escape %}
          {% trans "Update frequency:" %}
        {% endfilter %}
      </b>
      {% filter force_escape %}
        {% trans "Every 10 seconds" %}
      {% endfilter %}
    </li>
  </ul>
  <ul class="govuk-list">
    <li>
      {% if show_bulk_archive_url %}
        <a class="govuk-link" href="{% url 'downloads-avl-bulk' host hosts.data %}" onClick="addGATagEvent()">
          {% trans "Download all bus location data in SIRI-VM format" %}
        </a>
      {% else %}
        {% blocktrans %}
                    Bulk download is not yet available. Please check back later.
                {% endblocktrans %}
      {% endif %}
    </li>
    <li>
      {% if show_bulk_archive_url %}
        <a class="govuk-link" href="{% url 'download-gtfsrt-bulk' host hosts.data %}" onClick="addGAGTFSRTDownloadEvent()">
          {% filter force_escape %}
            {% trans "Download all bus location data in GTFS RT format" %}
          {% endfilter %}
        </a>
      {% else %}
        {% blocktrans %}
                    Bulk download is not yet available. Please check back later.
                {% endblocktrans %}
      {% endif %}
    </li>
    <li>
      {% if show_bulk_archive_url %}
        <a class="govuk-link" href="{% url 'downloads-avl-bulk-tfl' host hosts.data %}" onClick="addGATflTagEvent()">
          {% filter force_escape %}
            {% blocktrans %}
                            Download all bus location data from Transport for London (TfL) only in
                            SIRI-VM format
                        {% endblocktrans %}
          {% endfilter %}
        </a>
      {% else %}
        {% filter force_escape %}
          {% blocktrans %}
                        Bulk download is not yet available. Please check back later.
                    {% endblocktrans %}
        {% endfilter %}
      {% endif %}
    </li>
  </ul>
{% endblock %}
{% block heading.secondary %}
  {% include "browse/snippets/download_secondary_links.html" %}
{% endblock %}
{% block inner %}
  <div class="govuk-grid-row govuk-!-margin-top-9">
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script>
    function addGATagEvent() {
        gtag('event', 'Download all event', {
            'event_category': 'link',
            'event_label': 'bulk download avl',
            'event_action': 'download'
        });
    };
    function addGAGTFSRTDownloadEvent() {
        var clickEvent = {
            'event_category': 'link',
            'event_label': 'bulk download avlgtfs',
            'event_action': 'download'
        }
        gtag('event', 'Download gtfs all event', clickEvent);
    }
    function addGATflTagEvent() {
        gtag('event', 'Download TfL event', {
            'event_category': 'link',
            'event_label': 'bulk download avl tfl',
            'event_action': 'download'
        });
    };
  </script>
{% endblock %}
