{% extends 'browse/base/search.html' %}

{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
  {% trans 'Browse Location Data' %}
{% endblock %}

{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Browse' 'select-data' host hosts.data %}
  {% breadcrumb 'Location Data' %}
{% endblock %}

{% block full_width_content %}
  <form>
    {% with title="Location data" description="Search for specific operator or description" placeholder="Search by NOC, Operator or Description" %}
      {% include "browse/snippets/search_banner.html" %}
    {% endwith %}
{% endblock %}
