{% load i18n %}
<h2 class="govuk-heading-m govuk-!-margin-top-5">
  {% trans "Need help populating this page?" %}
</h2>
<p class="govuk-body">
  <a class="govuk-link"
     target="_blank"
     href="https://www.travelinedata.org.uk/traveline-open-data/transport-operations/browse/">
    {% trans 'Find your National Operator Code' %}
  </a>
</p>
<p class="govuk-body">
  <a class="govuk-link" target="_blank" href="https://www.gov.uk/find-local-bus-services">
    {% trans 'Find your PSV Licence Number' %}
  </a>
</p>
