{% extends "page.html" %}
{% load static %}
{% load i18n %}
{% load breadcrumbs %}
{% load publish_stepper %}
{% block title_tag %}
  {% if loading %}
    {% trans "Validating data set" %}
  {% else %}
    {% if error %}
      {% trans 'Error: ' %}
    {% endif %}
    {% trans 'Review and publish' %}
  {% endif %}
{% endblock %}
{% block breadcrumb %}
  <div class="govuk-breadcrumbs">{% stepper %}</div>
{% endblock %}
{% block content %}
  {% if not loading %}
    {% include 'publish/revision_review/page_heading.html' %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if loading %}
        {% include 'publish/revision_review/loading.html' %}
      {% elif object.error_code == "SCHEMA_ERROR" %}
        {% include 'publish/revision_review/schema_error.html' %}
      {% elif object.error_code == "POST_SCHEMA_ERROR" %}
        {% include 'publish/revision_review/post_schema_error.html' %}
      {% elif pti_deadline_passed and has_pti_observations %}
        {% include 'publish/revision_review/pti_hard_fail.html' %}
      {% elif error %}
        {% include 'publish/revision_review/error_panel.html' %}
      {% else %}
        {% include 'publish/revision_review/success_content.html' %}
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">{% include 'publish/revision_review/related_links.html' %}</div>
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  {% if dq_status == "PENDING" %}
    {{ api_root | json_script:"apiRoot" }}
    {{ object.id | json_script:"revisionIDElement" }}
    <script>
            const apiRootURL = JSON.parse(document.getElementById("apiRoot").textContent);
            const revisionID = JSON.parse(document.getElementById("revisionIDElement").textContent);
            BODSFrontend.refresh(apiURL=apiRootURL, revisionId=parseInt(revisionID));
    </script>
  {% endif %}
  {% if loading %}
    <script>new BODSFrontend.ProgressIndicator({{ object.dataset_id }});</script>
  {% elif not error %}
    <script>BODSFrontend.initMap("{{ api_root }}", {{  object.id }});</script>
  {% endif %}
{% endblock %}
