{% extends "demo/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block secondary %}
    {% block content_heading %}
      <span class="govuk-caption-l">Components</span>
      <h1 class="govuk-heading-l">
          {% trans 'Checkbox' %}
      </h1>
    {% endblock %}

  <p class="govuk-body">
      {% blocktrans %}
        The Checkbox component is used automatically for BooleanField fields.
      {% endblocktrans %}
  </p>
  <p class="govuk-body">
      {% blocktrans %}
        Note the label is inlined.
      {% endblocktrans %}
  </p>

  <div class="component-wrapper">
      {% crispy form %}
  </div>
{% endblock %}
