{% extends "page.html" %}
{% load static %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% filter force_escape %}
    {% trans "Operator Licence details" %}
  {% endfilter %}
{% endblock %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Operator Profiles' 'operators' host hosts.data %}
  {% with name=organisation_name|truncatechars:19 %}
    {% if organisation_id %}
      {% breadcrumb_url name 'operator-detail' organisation_id host hosts.data %}
    {% else %}
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">{{ name }}</a>
      </li>
    {% endif %}
  {% endwith %}
  {% with name=licence_number %}
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link"
         href="{% url 'operator-licence-detail' number=licence_number host hosts.data %}?org_id={{ organisation_id }}">
        {{ name }}
      </a>
    </li>
  {% endwith %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l app-!-mb-4 dont-break-out">
        {{ organisation_name }} - {{ licence_number }}
      </h1>
      <p class="govuk-body app-!-mb-sm-0">
        {% blocktrans %}
          Overview of the available bus open data
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="map" class="disruptions-width">
      </div>
      <table class="govuk-table consumer-property-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              {% trans "Owner" %}
            </th>
            <td colspan="2" class="govuk-table__cell dont-break-out">
              <div class="stacked">
                <a class="govuk-link"
                   href="{% if organisation_id %} {% url 'search' host host.name %}?organisation={{ organisation_id }}&status=live {% else %}  # {% endif %}">{% trans organisation_name %}</a>
                {% blocktrans %}
                          Access all data uploaded by this publisher
                        {% endblocktrans %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="govuk-!-margin-top-5">
        <h2 class="govuk-heading-l">
          Review Service Numbers
        </h2>
        {% if is_prefetch_compliance_report_active %}
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Filter services by</caption>
            <thead class="govuk-table__head">
              <th scope="col" class="govuk-table__header">
                Local transport authority
              </th>
              <th scope="col" class="govuk-table__header">
                Scope/Seasonality
              </th>
              {% if has_frencise %}
                <th scope="col" class="govuk-table__header">
                  Franchise
                </th>
                <th scope="col" class="govuk-table__header">
                  Operator
                </th>
              {% endif %}
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% for local_authority in local_authorities_list %}
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input licence-filter"
                             checked="checked"
                             id="lta_{{ local_authority.id }}"
                             name="lta_details"
                             type="checkbox"
                             value="{{ local_authority.id }}" />
                      <label class="govuk-label govuk-checkboxes__label" for="lta_{{ local_authority.id }}">
                        {{ local_authority.name }}
                      </label>
                    </div>
                  {% endfor %}
                  {% if has_null_local_authority %}
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input licence-filter"
                             checked="checked"
                             id="lta_blank"
                             name="lta_details"
                             type="checkbox"
                             value="blank" />
                      <label class="govuk-label govuk-checkboxes__label" for="lta_blank">
                        Not Assigned
                      </label>
                    </div>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input licence-filter"
                           checked="checked"
                           id="in_scope_checkbox"
                           name="scope_details"
                           type="checkbox"
                           value="service-in-scope" />
                    <label class="govuk-label govuk-checkboxes__label" for="in_scope_checkbox">
                      In Scope
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input licence-filter"
                           id="out_of_scope_checkbox"
                           name="scope_details"
                           type="checkbox"
                           value="service-out-of-scope" />
                    <label class="govuk-label govuk-checkboxes__label" for="out_of_scope_checkbox">
                      Out of scope
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input licence-filter"
                           checked="checked"
                           id="in_season_checkbox"
                           name="season_details"
                           type="checkbox"
                           value="service-in-season" />
                    <label class="govuk-label govuk-checkboxes__label" for="in_season_checkbox">
                      In Season
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input licence-filter"
                           id="out_of_season_checkbox"
                           name="season_details"
                           type="checkbox"
                           value="service-out-of-season" />
                    <label class="govuk-label govuk-checkboxes__label" for="out_of_season_checkbox">
                      Out of season
                    </label>
                  </div>
                </td>
                {% if has_frencise %}
                  <td class="govuk-table__cell">
                    {% for frencise in frencise_list %}
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input licence-filter"
                               checked="checked"
                               id="franchise_{{ frencise.organisation_id }}"
                               name="franchise_detailse"
                               type="checkbox"
                               value="{{ frencise.organisation_id }}" />
                        <label class="govuk-label govuk-checkboxes__label" for="franchise_{{ frencise.organisation_id }}">
                          {{ frencise.organisation_name }}
                        </label>
                      </div>
                    {% endfor %}
                  </td>
                  <td class="govuk-table__cell">
                    {% for organisation in organisations_list %}
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input licence-filter"
                               checked="checked"
                               id="operator_{{ organisation.licence_organisation_id }}"
                               name="operator_details"
                               type="checkbox"
                               value="{{ organisation.licence_organisation_id }}" />
                        <label class="govuk-label govuk-checkboxes__label" for="operator_{{ organisation.licence_organisation_id }}">
                          {{ organisation.licence_organisation_name }}
                        </label>
                      </div>
                    {% endfor %}
                  </td>
                {% endif %}
              </tr>
            </tbody>
          </table>
        {% endif %}
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% if licence_services %}
            {% if is_prefetch_compliance_report_active %}
              <table class="govuk-table" id="licence-services-table">
                <thead class="govuk-table__head">
                  <th scope="col" class="govuk-table__header govuk-link sort-column">
                    Service Number <i class="sort-icon fa fa-sort-asc"></i>
                  </th>
                  <th scope="col" class="govuk-table__header govuk-link sort-column">
                    Timetable data
                  </th>
                  <th scope="col" class="govuk-table__header govuk-link sort-column">
                    Location data
                  </th>
                  <th scope="col" class="govuk-table__header govuk-link sort-column">
                    Fares data
                  </th>
                </thead>
                <tbody class="govuk-table__body">
                  {% for service in licence_services %}
                    <tr class="govuk-table__row licence-details-service-row"
                        data-operator="{{ service.licence_organisation_id }}"
                        data-local-authority="{% if service.local_authorities_ids_strs %}
                                                {{ service.local_authorities_ids_strs }}
                                              {% else %}
                                                blank
                                              {% endif %}"
                        data-service-code="{{ service.service_number }} - {{ service.registration_number }}"
                        data-scope-status="{% if service.is_in_scope %}
                                             service-in-scope
                                           {% else %}
                                             service-out-of-scope
                                           {% endif %}"
                        data-season-status="{% if service.is_in_season %}
                                              service-in-season
                                            {% else %}
                                              service-out-of-season
                                            {% endif %}">
                      <td class="govuk-table__cell">
                        <a class="govuk-link"
                           href="{% url 'licence-line-detail' number=licence_number host hosts.data %}?org_id={{ organisation_id }}&line={{ service.service_number }}&service={{ service.registration_number }}">{{ service.full_registration_number }}</a>
                      </td>
                      <td class="govuk-table__cell govuk-!-text-align-centre">
                        <span class="sra-dot {% if service.requires_attention == "Yes" %} sra-dot-red {% else %} sra-dot-green {% endif %}"></span>
                      </td>
                      <td class="govuk-table__cell govuk-!-text-align-centre">
                        <span class="sra-dot {% if service.avl_requires_attention == "Yes" %} sra-dot-red {% else %} sra-dot-green {% endif %}"></span>
                      </td>
                      <td class="govuk-table__cell govuk-!-text-align-centre">
                        <span class="sra-dot {% if service.fares_requires_attention == "Yes" %} sra-dot-red {% else %} sra-dot-green {% endif %}"></span>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p class="govuk-body govuk-!-padding-bottom-2 border-bottom-custom">
                <a class="govuk-link"
                   href="{% url 'licence-line-detail' number=licence_number host hosts.data %}?org_id={{ organisation_id }}&line={{ service.service_number }}&service={{ service.registration_number }}">{{ service.service_number }} - {{ service.registration_number }}</a>
                <span class="govuk-tag govuk-!-margin-left-2
                             {% if service.is_label_green %}
                               govuk-tag--green
                             {% else %}
                               govuk-tag--red
                             {% endif %}
                             govuk-!-font-size-16 govuk-!-text-align-centre">
                  {{ service.label_str }}
                </span>
              </p>
            {% endif %}
          {% else %}
            <span>No Services Available</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        {% trans "What you need to know" %}
      </h2>
      <ul class="govuk-list app-list--nav govuk-!-font-size-19">
        <li>
          <a class="govuk-link" href="{% url 'guidance:support-developer' host hosts.data %}">
            {% trans "View developer documentation" %}
          </a>
        </li>
        <li>
          <a class="govuk-link"
             href="https://www.gov.uk/government/consultations/bus-services-act-2017-bus-open-data"
             target="_blank">{% trans "Find out more about bus open data" %}</a>
        </li>
        <li>
          <a class="govuk-link" href="{% url 'contact' host hosts.root %}">{% trans "Contact us for technical issues" %}</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script nonce="{{request.csp_nonce}}">
      var licenceNumber = "{{licence_number}}";
      var errorInMapBox = "{% if not error %}no-error{% else %}error{% endif %}";
  </script>
  {% if is_prefetch_compliance_report_active %}
    <script nonce="{{request.csp_nonce}}">
      function refresheMap(registrationNumbers) {
        if (errorInMapBox == "error") {
          return
        }
        BODSFrontend.refreshOrInitMap("{{ api_root }}", undefined, undefined, undefined, licenceNumber, registrationNumbers.join(","));
      }
      $(document).ready(() => {
        BODSFrontend.refreshLicencesList(refresheMap);

        $(document).on("change", ".licence-filter", function(e) {
          BODSFrontend.refreshLicencesList(refresheMap);
        });

        $(".sort-column").on("click", function() {
          BODSFrontend.sortLicenceServicesTable($(this))
        });
      });
      
    </script>
  {% endif %}
{% endblock %}
