{% extends "page.html" %}
{% load static %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% filter force_escape %}
    {% trans "Operator Licence details" %}
  {% endfilter %}
{% endblock %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Operator Profiles' 'operators' %}
  {% with name=organisation.name|truncatechars:19 %}
    {% breadcrumb_url name 'operator-detail' organisation.id host hosts.data %}
  {% endwith %}
  {% with name=licence_number %}
    {% breadcrumb_url name 'operator-licence-detail' number=licence_number host hosts.data %}
  {% endwith %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l app-!-mb-4 dont-break-out">{{ organisation.name }} - {{ licence_number }}</h1>
      <p class="govuk-body app-!-mb-sm-0">
        {% blocktrans %}
          Overview of the available bus open data
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="map" class="disruptions-width"></div>
      <table class="govuk-table consumer-property-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{% trans "Owner" %}</th>
            <td colspan="2" class="govuk-table__cell dont-break-out">
              <div class="stacked">
                <a class="govuk-link" href="{% url 'search' host host.name %}?organisation={{ organisation.id }}&status=live">{% trans organisation.name %}</a>
                {% blocktrans %}
                          Access all data uploaded by this publisher
                        {% endblocktrans %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="govuk-!-margin-top-5">
        <h2 class="govuk-heading-l">Review Service Numbers</h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% if licence_services %}
          {% for service in licence_services %}
            <p class="govuk-body govuk-!-padding-bottom-2 border-bottom-custom">
              <a class="govuk-link"
                 href="{% url 'licence-line-detail' number=licence_number host hosts.data %}?line={{ service.service_number }}&service={{ service.registration_number }}">{{ service.service_number }} - {{ service.registration_number }}</a>
              <span class="govuk-tag govuk-!-margin-left-2 {% if service.is_label_green %} govuk-tag--green {% else %} govuk-tag--red {% endif %} govuk-!-font-size-16 govuk-!-text-align-centre">
                {{ service.label_str }}
              </span>
            </p>
          {% endfor %}
          {% else %}
            <span>No Services Available</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">{% trans "What you need to know" %}</h2>
      <ul class="govuk-list app-list--nav govuk-!-font-size-19">
        <li>
          <a class="govuk-link" href="{% url 'guidance:support-developer' host hosts.data %}">
            {% trans "View developer documentation" %}
          </a>
        </li>
        <li>
          <a class="govuk-link"
             href="https://www.gov.uk/government/consultations/bus-services-act-2017-bus-open-data"
             target="_blank">{% trans "Find out more about bus open data" %}</a>
        </li>
        <li>
          <a class="govuk-link" href="{% url 'contact' host hosts.root %}">{% trans "Contact us for technical issues" %}</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  {% if not error %}
    <script nonce="{{request.csp_nonce}}">BODSFrontend.initMap("{{ api_root }}", undefined, undefined, undefined, "{{licence_number}}");</script>
  {% endif %}
{% endblock %}
