{% load i18n %}
{% load active_url %}

<div class="demo-side-nav">
  <ul class="govuk-list">
    {% with 'govuk-link govuk-link--no-visited-state' as css_classes %}
      {% for link in links %}
        <li>
          <a class="{{ css_classes }} {% active_url link.viewname css_class='demo-list--active' %}"
             {% if not link.viewname or link.viewname == '#' %}disabled{% endif %}
             href="{% if link.viewname and link.viewname != '#' %}{% url link.viewname %}{% else %}#{% endif %}">
            {% trans link.label %}
          </a>
        </li>
      {% endfor %}
    {% endwith %}
  </ul>
</div>
