{% extends "publish/seasonal_services/add_licence.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load seasonal_services_stepper %}


{% block extra_content %}
    <div class="heading-container">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{% trans "PSV Licence Number" %}</h2>
        <a class="govuk-link govuk-!-font-size-19" href={% url 'add-seasonal-service' pk1=pk1 host hosts.publish %}>{% trans "Edit" %}</a>
    </div>
    <p class="govuk-body">
        {{ wizard.form.licence.number }}
    </p>
    <hr class="govuk-section-break govuk-section-break--xs govuk-section-break--visible govuk-!-margin-bottom-6 govuk-!-margin-top-6">
{% endblock %}
