{% extends 'browse/base.html' %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
  {% trans 'Try API Service' %}
{% endblock %}

{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb 'Try API Service' %}
{% endblock %}

{% block heading.title.text %}
  {% trans 'Try API Service' %}

{% endblock %}

{% block heading.subtitle %}
  <div class="govuk-!-padding-right-9">
    <p class="govuk-body govuk-!-padding-bottom-3">
      {% blocktrans %}
        You can experiment with our interactive API services, to familiarise yourself
        with the data supplied. Please append your API_Key from your
      {% endblocktrans %}
      <a href="{% url 'users:settings' host hosts.data %}">
        {% trans 'Account Settings' %}
      </a>
      {% blocktrans %}
        page and query parameters to your API requests.
      {% endblocktrans %}
    </p>

    <p class="govuk-body">
      <a class="govuk-link-bold" href="{% url 'api:timetableopenapi' host hosts.data %}">
        {% trans 'Timetables data API' %}
      </a>
    </p>

    {% if feature.avl %}
    <p class="govuk-body">
      <a class="govuk-link-bold" href="{% url 'api:avlopenapi' host hosts.data %}">
        {% trans 'Location data API' %}
      </a>
    </p>
    {% endif %}

    {% if feature.fares %}
    <p class="govuk-body">
      <a class="govuk-link-bold" href="{% url 'api:faresopenapi' host hosts.data %}">
        {% trans 'Fares data API' %}
      </a>
    </p>
    {% endif %}

    <p class="govuk-body">
      <a class="govuk-link-bold" href="{% url 'placeholder' host hosts.data %}">
        {% trans 'Disruptions data API' %}
      </a>
    </p>
  </div>
{% endblock %}

{% block heading.secondary %}
  {% include "browse/snippets/download_secondary_links.html" %}
{% endblock %}
