{% extends 'browse/base.html' %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
  {% trans 'Download data catalogue' %}
{% endblock %}

{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb 'Download data catalogue' %}
{% endblock %}

{% block heading.title.text %}{% trans 'Download data catalogue' %}{% endblock %}

{% block secondary.title %}
  <h2 class="govuk-heading-m">{% trans 'Operator to National Operator Code' %}</h2>
{% endblock %}

{% block heading.subtitle %}
  <p class="govuk-body">
    {% blocktrans %}
      Operators allocate National Operator Codes (NOC) to their accounts. This download provides a complete list of how NOC map to operators within the service. The full noc database can
be found on the Traveline website:
    {% endblocktrans %}
  <a class="govuk-link" target="_blank" href="https://www.travelinedata.org.uk/traveline-open-data/transport-operations/about-2/">
    {% trans 'https://www.travelinedata.org.uk/traveline-open-data/transport-operations/about-2/' %}
  </a>
  </p>
  <p class="govuk-body">
  <a class="govuk-link" href="{% url 'operator-noc-catalogue' host hosts.data %}">{% trans 'Download operator noc mapping' %}</a>
  </p>
{% endblock %}

{% block heading.secondary %}
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      {% trans 'What you need to know' %}
    </h3>
    <p class="govuk-body">
      <a class="govuk-link" href="{% url 'guidance:support-developer' host hosts.data %}">
        {% trans 'View developer documentation' %}
      </a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/consultations/bus-services-act-2017-bus-open-data"
         target="_blank">
        {% trans 'Find out more about bus open data' %}
      </a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="{% url 'contact' host hosts.root %}">
        {% trans 'Contact us for technical issues' %}
      </a>
    </p>
  <p class="govuk-body">
      <a class="govuk-link" href="{% url 'download-catalogue' host hosts.data %}">
        {% trans 'Download data catalogue' %}
      </a>
    </p>
  </div>
{% endblock %}

{% block inner %}
    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">{% trans 'Operator to data set ID' %}</h2>
        <p class="govuk-body">
          {% blocktrans %}
            Each Data set or Data feed supplied to the service is given a unique identifier, Data set ID or
            Data feed ID. This download provides a complete list of the services operators and associated data IDs,
            for all three data types (timetables, bus location, fares). If any issues are found in the data,
            this globally unique identifier can be used to find the correct data and provide feedback by
          {% endblocktrans %}
        <a class="govuk-link" href="{% url 'select-data' host hosts.data %}">{% trans 'Browsing for specific data.' %}</a>
        </p>
      <p class="govuk-body">
        <a class="govuk-link" href="{% url 'operator-dataset-catalogue' host hosts.data %}">{% trans 'Download operator dataID mapping' %}</a>
      </p>
      </div>
    </div>
{% endblock %}
