{% extends "browse/base.html" %}
{% load static %}
{% load i18n %}
{# This template is used for the feed detail and changelog templates #}
{# TODO - remove the inheritance and use snippets instead #}
{% block heading.title.text %}
  {{ object.name }}
{% endblock %}
{% block heading.subtitle.text %}
  {% blocktrans %}
    Overview of the available bus open data
  {% endblocktrans %}
{% endblock %}
{% block heading.extra %}
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0" />
{% endblock %}
