{% extends 'browse/base.html' %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
    {% trans 'Find bus open data' %}
{% endblock %}

{% block heading.title.text %}
    {% trans 'Find bus open data' %}
{% endblock %}

{% block heading.subtitle %}
  <div class="govuk-!-padding-right-9">
    <h2 class="govuk-heading-m">
        {% trans 'Use the bus open data' %}
    </h2>
    <p class="govuk-body">
        {% trans 'View and download open data published by operators of local bus services.' %}
    </p>
    <p class="govuk-body">
      {% if feature.avl or feature.fares %}
        <a class="govuk-link-bold" href="{% url 'select-data' host hosts.data %}">
            {% trans 'Browse for specific data' %}
        </a>
      {% else %}
        <a class="govuk-link-bold" href="{% url 'search' host hosts.data %}">
            {% trans 'Browse for specific data' %}
        </a>
      {% endif %}
    </p>
    <p class="govuk-body">
      {% if feature.avl or feature.fares %}
      <a class="govuk-link-bold" href="{% url 'downloads' host hosts.data %}">
          {% trans 'Download all data' %}
      </a>
      {% else %}
      <a class="govuk-link-bold" href="{% url 'download-timetables' host hosts.data %}">
          {% trans 'Download all data' %}
      </a>
      {% endif %}
    </p>

    <hr class="govuk-section-break govuk-section-break--xl">

    <h2 class="govuk-heading-m">
        {% trans 'Use the bus open data API Service' %}
    </h2>
    <p class="govuk-body">
        {% trans 'You can experiment with our interactive API services, to familiarise yourself with the data supplied.' %}
    </p>
    <p class="govuk-body">
      {% if feature.fares or feature.avl %}
      <a class="govuk-link-bold" href="{% url 'api-select' host hosts.data %}">
          {% trans 'Access interactive API' %}
      </a>
      {% else %}
      <a class="govuk-link-bold" href="{% url 'api:openapi' host hosts.data %}">
          {% trans 'Access interactive API' %}
      </a>
      {% endif %}
    </p>
    <p class="govuk-body">
      <a class="govuk-link-bold" href="{% url 'guidance:support-developer' host hosts.data %}">
          {% trans 'View developer documentation' %}
      </a>
    </p>
  </div>
{% endblock %}

{% block heading.secondary %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
        {% trans 'What you need to know' %}
    </h2>
    <p class="govuk-body">
      <a class="govuk-link" href="{% url 'guidance:support-developer' host hosts.data %}">
          {% trans 'View developer documentation' %}
      </a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/consultations/bus-services-act-2017-bus-open-data"
         target="_blank">
          {% trans 'Find out more about bus open data' %}
      </a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="{% url 'changelog' host hosts.root %}">
          {% trans 'Changelog' %}
      </a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="{% url 'contact' host hosts.root %}">
          {% trans 'Contact us for technical issues' %}
      </a>
    </p>
  <p class="govuk-body">
      <a class="govuk-link" href="{% url 'download-catalogue' host hosts.data %}">
        {% trans 'Download data catalogue' %}
      </a>
    </p>
  </div>
{% endblock %}
