{% extends 'browse/base.html' %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
    {% trans 'Browse' %}
{% endblock %}

{% block breadcrumb.content %}
    {{ block.super }}
    {% breadcrumb_url 'Browse' 'select-data' host hosts.data %}
{% endblock %}

{% block full_width_content %}
    <div class="app-masthead">
        <div class="govuk-width-container">
            <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0 govuk-!-padding-right-9">
                    <h1 class="govuk-heading-xl app-masthead__title">{% trans 'Browse bus open data' %}</h1>
                    <p class="app-masthead__description">
                        {% blocktrans %}
                            You can browse the individual data sets or data feeds provided by
                            the publishers. By clicking on a data set or data feed you can see
                            its metadata, description and more information. You can also subscribe,
                            download or use the API for specific data from the browse section with a
                            registered account.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block heading.title %}
{% endblock %}

{% block secondary.title %}
{% endblock %}

{% block heading.subtitle %}
    <div class="govuk-!-padding-right-9 ">
        <div class="govuk-grid-row">
            <a class="govuk-link-bold govuk-body" href="{% url 'search' host hosts.data %}?status=live">
                {% trans 'Timetables data' %}
            </a>
            <p class="govuk-body govuk-!-padding-top-3">
                {% blocktrans %}
                    You can filter and browse specific timetables data on the service.
                {% endblocktrans %}
            </p>
            <ul class="govuk-list">
                <li>
                    <b>{% trans 'Format' %}:</b>
                    {% trans 'TXC 2.4 PTI 1.1.A' %} {% include "browse/snippets/help_modals/txc.html" %}
                </li>
                <li><b>{% trans 'File type' %}:</b> {% trans 'XML file' %}</li>
                <li><b>{% trans 'Data type' %}:</b> {% trans 'Static' %}</li>
                <li><b>{% trans 'Data source' %}:</b> {% trans 'BODS' %}</li>
            </ul>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-7">
            <a class="govuk-link-bold govuk-body" href="{% url 'avl-search' host hosts.data %}?status=live">
                {% trans 'Location data' %}
            </a>
            <p class="govuk-body govuk-!-padding-top-3">
                {% blocktrans %}
                    You can filter and browse the live locations of buses at a specific point in time.
                {% endblocktrans %}
            </p>
            <ul class="govuk-list">
                <li>
                    <b>{% trans 'Format' %}:</b>
                    {% trans 'SIRI-VM' %} {% include "browse/snippets/help_modals/sirivm.html" %}
                </li>
                <li><b>{% trans 'File type' %}:</b> {% trans 'XML file' %}</li>
                <li><b>{% trans 'Data type' %}:</b> {% trans 'Real-time' %}</li>
                <li><b>{% trans 'Data source' %}:</b> {% trans 'BODS' %}</li>
            </ul>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-7">
            <a class="govuk-link-bold govuk-body" href="{% url 'search-fares' host hosts.data %}?status=live">
                {% trans 'Fares data' %}
            </a>
            <p class="govuk-body govuk-!-padding-top-3">
                {% blocktrans %}
                    You can filter and browse specific fares data on the service.
                {% endblocktrans %}
            </p>
            <ul class="govuk-list">
                <li>
                    <b>{% trans 'Format' %}:</b>
                    {% trans 'NeTEx' %} {% include "browse/snippets/help_modals/netex.html" %}
                </li>
                <li><b>{% trans 'File type' %}:</b> {% trans 'XML file' %}</li>
                <li><b>{% trans 'Data type' %}:</b> {% trans 'Static' %}</li>
                <li><b>{% trans 'Data source' %}:</b> {% trans 'BODS' %}</li>
            </ul>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-7">
            <a class="govuk-link-bold govuk-body" href="{% url 'disruptions-data' host hosts.data %}">
                {% trans 'Disruption data' %}
            </a>
            <p class="govuk-body govuk-!-padding-top-3">
                {% blocktrans %}
                    You can browse specific disruption data.
                {% endblocktrans %}
            </p>
            <ul class="govuk-list">
                <li>
                    <b>{% trans 'Format' %}:</b>
                    {% trans 'SIRI-SX' %} {% include "browse/snippets/help_modals/sirisx.html" %}
                </li>
                <li><b>{% trans 'File type' %}:</b> {% trans 'XML file' %}</li>
                <li><b>{% trans 'Data type' %}:</b> {% trans 'Real-time' %}</li>
                <li><b>{% trans 'Data source' %}:</b> {% trans 'Local authorities' %}</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block heading.secondary %}
    {% include "browse/snippets/download_secondary_links.html" %}
{% endblock %}
