{% extends 'browse/base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load breadcrumbs %}

{% block title_tag %}
  {% trans 'Disruptions data' %}
{% endblock %}

{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Browse' 'select-data' host hosts.data %}
  {% breadcrumb 'Disruptions data' %}
{% endblock %}

{% block full_width_content %}
  <form>
    {% with title="Disruptions data" description="Search for specific operator or location" placeholder="Search by NOC, Location, Operator or Description" %}
      {% include "browse/snippets/search_banner.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="sort_container">
          <div class="govuk-form-group">
            <div class="select-wrapper">
              <span class="govuk-body govuk-!-padding-right-2">Sort by</span>
              <select class="nav-select"
                      id="ordering"
                      name="ordering"
                      aria-label="Order by"
                      onchange="this.form.submit()">
                <option value="-modified" {% if ordering == "-modified" %}selected{% endif %}>{% trans 'Last updated' %}</option>
                <option value="name" {% if ordering == "name" %}selected{% endif %}>{% trans 'Data set name A-Z' %}</option>
                <option value="-name" {% if ordering == "-name" %}selected{% endif %}>{% trans 'Data set name Z-A' %}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="search-result__list"> 
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">     
            {% for item in api_data %}
              {% if not forloop.first %}
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              {% endif %}
              {% include 'browse/snippets/results/disruptions.html' %}
              
            {% empty %}
              <div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
                <h4 class="govuk-heading-s">{% trans 'Having trouble finding what you want?' %}</h4>
                <ul class="govuk-list govuk-list--bullet">
                  <li>{% trans 'Check your spelling and try again' %}</li>
                </ul>
              </div>
            {% endfor %}
          </div>
          {% if paginator.count > 0 %}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% include "snippets/pagination.html" with page=page_obj paginator=paginator %}
          {% endif %}
      </div>
    </div>
  </form>
{% endblock %}