{% extends "browse/base.html" %}
{% load static %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% trans "All disruption data" %}
{% endblock %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Download All Data' 'downloads' host hosts.data %}
  {% breadcrumb_url 'All Disruption Data' 'download-disruptions' host hosts.data %}
{% endblock %}
{% block heading.title.text %}
  {% trans "All disruption data" %}
{% endblock %}
{% block secondary.title %}
  <h3 class="govuk-heading-l">
    {% trans "Download file" %}
  </h3>
  <p class="govuk-body">
    {% blocktrans %}
            Download a snapshot of all live and upcoming disruptions within England
        {% endblocktrans %}
  </p>
  <ul class="govuk-list">
    <li>
      <b>
        {% trans "Format" %}
      :</b>
      {% trans "SIRI-SX" %}
      {% include "browse/snippets/help_modals/sirisx.html" %}
    </li>
    <li>
      <b>
        {% trans "Mode" %}
      :</b>
      {% trans "Bus, Ferry, Light Rail" %}
    </li>
    <li>
      <b>
        {% trans "File type" %}
      :</b>
      {% trans "ZIP file" %}
    </li>
    <li>
      <b>
        {% trans "Update frequency" %}
      :</b>
      {% trans "Every minute" %}
    </li>
    <li>
      <b>
        {% trans "Source" %}
      :</b>
      {% trans "Local authorities" %}
    </li>
  </ul>
{% endblock %}
{% block heading.subtitle %}
  <p class="govuk-body govuk-!-margin-bottom-0">
    {% if show_bulk_archive_url %}
      <a class="govuk-link" href="{% url 'downloads-disruptions-bulk' host hosts.data %}" onClick="addGATagEvent()">
        {% trans "Download all disruption data " %}
      </a>
    {% else %}
      {% blocktrans %}
                Bulk download is not yet available. Please check back later.
            {% endblocktrans %}
    {% endif %}
  </p>
{% endblock %}
{% block heading.secondary %}
  {% include "browse/snippets/download_secondary_links.html" %}
{% endblock %}
{% block inner %}
  <div class="govuk-grid-row govuk-!-margin-top-9">
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script>
        function addGATagEvent() {
            gtag('event', 'Download all event', {
                'event_category': 'link',
                'event_label': 'bulk download disruptions',
                'event_action': 'download'
            });
        }
  </script>
{% endblock %}
