{% load i18n %}
{% load query_transform %}
{% load static %}

<div>
  <div class="search-list__heading">
      {% if paginator.count > 0 %}
        <span class="govuk-body">
        {{ paginator.count }} {% trans 'results' %}
        </span>
      {% else %}
        <h3 class="govuk-heading-m">
        {% trans 'Sorry, no results found' %}
        {% if q %}{% blocktrans %} for {{ q }}{% endblocktrans %}{% endif %}
        </h3>
      {% endif %}
  </div>
  <div class="govuk-body-s govuk-grid-row search-pillbox">
    {% for key, value in query_params.items %}
      <a href="{% query_chop key %}">
        <div class="pill-item">
          <img class="pill-item__image" src="{% static 'frontend/images/icon-cross.png' %}" alt="{% trans 'Delete icon' %}">
          <span class="pill-item__label">{{ value }}</span>
        </div>
      </a>
    {% endfor %}
  </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible pillbox-break">

    <div class="sort_container">
      <div class="govuk-form-group">
        <div class="select-wrapper">
          <span class="govuk-body govuk-!-padding-right-2">Sort by</span>
          <select class="nav-select"
                  id="ordering"
                  name="ordering"
                  aria-label="Order by"
                  onchange="this.form.submit()">
            <option value="-modified" {% if ordering == "-modified" %}selected{% endif %}>{% trans 'Last updated' %}</option>
            <option value="name" {% if ordering == "name" %}selected{% endif %}>{% trans 'Data set name A-Z' %}</option>
            <option value="-name" {% if ordering == "-name" %}selected{% endif %}>{% trans 'Data set name Z-A' %}</option>
          </select>
        </div>
      </div>
    </div>

  <div class="search-result__list">
    {% for item in items %}
      {% if not forloop.first %}
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% endif %}
      {% include 'browse/snippets/search_result.html' %}
    {% empty %}
      <div class="search-empty-result">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
        <h4 class="govuk-heading-s">{% trans 'Having trouble finding what you want?' %}</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>{% trans 'Check your spelling and try again' %}</li>
{#          <li>#}
{#            {% url 'catalogue' host hosts.data as catalogue_url %}#}
{#            {% blocktrans %}#}
{#              You can <a class="govuk-link" href="{{ catalogue_url }}">browse data catalogue</a>#}
{#              to see what's available#}
{#            {% endblocktrans %}#}
{#          </li>#}
        </ul>
      </div>
    {% endfor %}
  </div>
  {% if paginator.count > 0 %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% include "snippets/pagination_centre.html" with page=page_obj paginator=paginator %}
  {% endif %}
</div>
