{% load i18n %}
{% load query_transform %}
{% load static %}
<div>
  <div class="search-list__heading">
    {% if paginator.count > 0 %}
      <span class="govuk-body">{{ paginator.count }}
        {% trans "results" %}
      </span>
    {% else %}
      <h3 class="govuk-heading-m">
        {% trans "Sorry, no results found" %}
        {% if q %}
          {% blocktrans %} for {{ q }}{% endblocktrans %}
        {% endif %}
      </h3>
    {% endif %}
  </div>
  {% if show_search_terms_only == True %}
    <div class="govuk-body-s govuk-grid-row search-pillbox">
      {% if q %}
        <span class="govuk-label govuk-!-font-weight-bold govuk-!-padding-right-3">
          {% trans "Containing" as tmsg %}
          {{ tmsg | force_escape }}
        </span>
        <a href="?ordering={{ ordering }}">
          <div class="pill-item">
            <img class="pill-item__image"
                 src="{% static 'frontend/images/icon-cross.png' %}"
                 alt="{% trans "Delete icon" as tmsg %}{{ tmsg | force_escape }}" />
            <span class="pill-item__label">{{ q }}</span>
          </div>
        </a>
      {% endif %}
    </div>
  {% else %}
    <div class="govuk-body-s govuk-grid-row search-pillbox">
      {% for key, value in query_params.items %}
        <a href="{% query_chop key %}">
          <div class="pill-item">
            <img class="pill-item__image" src="{% static 'frontend/images/icon-cross.png' %}" alt="{% trans "Delete icon" %}" />
            <span class="pill-item__label">{{ value }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible pillbox-break" />
  <div class="govuk-form-group">
    <label class="govuk-label" for="ordering">
      Sort by
    </label>
    <select class="govuk-select" id="ordering" name="ordering" aria-label="Sort by" onchange="this.form.submit()">
      <option value="-modified" {% if ordering == "-modified" %}selected{% endif %}>
        {% trans "Recently updated" %}
      </option>
      <option value="name" {% if ordering == "name" %}selected{% endif %}>
        {% trans "Data set name A-Z" %}
      </option>
      <option value="-name" {% if ordering == "-name" %}selected{% endif %}>
        {% trans "Data set name Z-A" %}
      </option>
    </select>
  </div>
  <div class="search-result__list">
    {% for item in items %}
      {% if not forloop.first %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      {% endif %}
      {% if item.dataset_type == 1 %}
        {% include "browse/snippets/results/timetables.html" %}
      {% elif item.dataset_type == 2 %}
        {% include "browse/snippets/results/avl.html" %}
      {% elif item.dataset_type == 3 %}
        {% include "browse/snippets/results/fares.html" %}
      {% elif item.dataset_type == 4 %}
        {% include "browse/snippets/results/disruptions.html" %}
      {% endif %}
    {% empty %}
      <div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break" />
        <h4 class="govuk-heading-s">
          {% trans "Having trouble finding what you want?" %}
        </h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            {% trans "Check your spelling and try again" %}
          </li>
        </ul>
      </div>
    {% endfor %}
  </div>
  {% if paginator.count > 0 %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    {% include "snippets/pagination.html" with page=page_obj paginator=paginator %}
  {% endif %}
</div>
