@import "govuk-frontend/govuk/helpers/spacing";

.govuk-timeout-warning {
  display: none;
  @include govuk-responsive-padding(6);
  // Setting width allows IE to center dialog vertically
  width: 100%;

  // To do: allow this to be customised
  max-width: 500px;

  .govuk-button {
    margin: 0 govuk-spacing(2) govuk-spacing(3) 0;
    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(0);
    }
  }

  &[open] {
    display: block;

    $backdrop-colour: rgba(0, 0, 0, 0.8);

    // Backdrop styles for browsers with native support
    & + .backdrop {
      background: $backdrop-colour;
    }

    // Backdrop styles for browsers using
    // Keep these two backdrop styles separate - Safari didn't
    // work when combined
    &::backdrop {
      background: $backdrop-colour;
    }
  }
}

// Stop background scrolling while dialog open.
.govuk-timeout-warning-overlay {
  overflow: hidden;
}

.js-enabled .govuk-timeout-warning-fallback {
  display: none;
}

.tabular-numbers {
  font-family: $govuk-font-family-tabular;
}
