{% extends "page.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% trans "Local authority requirements" %}
{% endblock %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Guidance' 'guidance:operators-home' host hosts.publish %}
  {% breadcrumb_url 'Local authority requirements' 'guidance:support-local_authorities' host hosts.publish %}
{% endblock %}
{% url 'guidance:support-local_authorities' host hosts.publish as base_url %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{% trans "Local authority requirements" %}</h1>
      <p class="govuk-body-l">
        {% blocktrans %}
                    What you need to know to get started. Find guidance and support
                    material tailored to your needs.
                {% endblocktrans %}
      </p>
      <ul class="govuk-body dashed">
        {% for section in sections %}
          <li class="govuk-!-padding-bottom-1">
            <a class="{% if section == current_section %} govuk-link bods-link-dark {% else %} govuk-link bods-link-dark {% endif %}"
               href="{{ base_url }}?section={{ section.name }}">{% trans section.title %}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block extra_content %}{% endblock %}
      {% include "../snippets/previous_section.html" with url=base_url section=prev_section %}
      {% include "../snippets/next_section.html" with url=base_url section=next_section %}
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">{% trans "Related content" %}</h2>
      <ul class="govuk-list app-list--nav govuk-!-font-size-19">
        <li>
          <a class="govuk-link" href="{% url 'guidance:support-bus_operators' host hosts.publish %}">
            {% trans "Bus operator requirements" %}
          </a>
        </li>
        <li>
          <a class="govuk-link" href="{% url 'contact' host hosts.root %}">{% trans "Support line" %}</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
