{% extends "guidance/local_authorities/base.html" %}
{% load i18n %}
{% block extra_content %}
  <h1 class="govuk-heading-l">
    {% trans 'Using Bus Open Data' %}
  </h1>
  <p class="govuk-body">
    {% blocktrans %}
    The Bus Open Data Service is freely available for anyone to use, providing a
    single location to discover and access data and provide feedback to data
    publishers. You do not need a license to use the data.
    {% endblocktrans %}
  </p>
  <p class="govuk-body">
    {% blocktrans %}
    Local Transport Authority may wish to consume this service’s data for urban
    planning, route planning, commercial tender planning, or for any use they see fit.
    {% endblocktrans %}
  </p>
{% endblock %}
