# Public BODS host domain. This derives www, data, publish, and admin origins.
NEXT_PUBLIC_BODS_BASE_DOMAIN=localhost
# Internal Django service origin used by Next server code.
DJANGO_INTERNAL_ORIGIN=http://localhost:8000
# local developmen - leave empty or use localhost
NEXT_PUBLIC_COOKIE_DOMAIN=.bus-data.dft.gov.uk
NODE_ENV=development

SUPPORT_PHONE=
SUPPORT_EMAIL=
AVL_IP_ADDRESS_LIST=__change_me__