{% extends 'browse/base.html' %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
  {% trans 'Disruption Detail' %}
{% endblock %}

{% block breadcrumb.content %}
{% endblock %}

{% block backlink %}
  {% url 'org-detail' pk=object.id host host.name as backlink_url %}
  {% include 'snippets/backlink.html' with url=backlink_url %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl dont-break-out">
    {% trans 'Disruption detail' %}
  </h1>
  {% include 'publish/snippets/dataset_map.html' %}
  <h3 class="govuk-heading-l govuk-!-padding-top-8">{{ object.summary|capfirst }}</h3>
  {%  if object.disruptionNoEndDateTime == "true" %}
    <p class="govuk-body">
      <img class="govuk-!-margin-right-1" width="20" height="20" src="{% static 'frontend/images/calendar-icon.png' %}"
           alt="{% trans 'Calendar icon' %}">
      {{ object.publishStartDate }} {{ object.publishStartTime }} onwards
    </p>
  {% else %}
    <p class="govuk-body">
      <img class="govuk-!-margin-right-1" width="20" height="20" src="{% static 'frontend/images/calendar-icon.png' %}"
           alt="{% trans 'Calendar icon' %}">
      {{ object.publishStartDate }} {{ object.publishStartTime }} - {{ object.publishEndDate }} {{ object.publishEndTime }}
    </p>
  {% endif %}

  <p class="govuk-body">{{ object.description|capfirst }}</p>

  {% if object.associatedLink %}
    <div>
      <table class="govuk-table consumer-property-table">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{% trans 'Associated link' %}</th>
          <td class="govuk-table__cell" colspan="2"><a class="govuk-link"
                                                       href="https://www.flooding.com">{{ object.associatedLink }}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  {% endif %}

  <h3 class="govuk-heading-l">{% trans 'Consequences' %}</h3>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    {% for consequence in object.consequences %}
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ forloop.counter }}">
                Consequence {{ forloop.counter }} - {{ consequence.vehicleMode|capfirst }} - {{ consequence.consequenceType|capfirst }}
            </span>
          </h2>
        </div>
        <div id="sub-accordion-content-{{ forloop.counter }}" class="govuk-accordion__section-content"
             aria-labelledby="sub-accordion-heading-{{ forloop.counter }}">
          <div class="govuk-accordion__section govuk-!-padding-left-7">
              <table class="govuk-table consumer-property-table">
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">{% trans 'Consequence Type' %}</th>
                  <td class="govuk-table__cell" colspan="2">{{ consequence.consequenceType|capfirst }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">{% trans 'Mode of transport' %}</th>
                  <td class="govuk-table__cell" colspan="2">{{ consequence.vehicleMode|capfirst }}</td>
                </tr>
                {% if consequence.consequenceType == "Services" %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{% trans 'Service(s)' %}</th>
                    <td class="govuk-table__cell" colspan="2">
                      {% for service in consequence.services %}
                        {{ service.lineName }} - {{ service.origin }} - {{ service.destination }} ({{ service.operatorShortName }}){% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {%  endif %}
                {% if consequence.consequenceType == "Services" or consequence.consequenceType == "Stops" %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{% trans 'Stops affected' %}</th>
                    <td class="govuk-table__cell" colspan="2">
                      {% for stop in consequence.stops %}
                        {{ stop.commonName|capfirst }} {{ stop.indicator }} {{ stop.atcoCode }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {%  endif %}
                {% if consequence.consequenceType == "Operator Wide" %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{% trans 'Operator(s) affected' %}</th>
                    <td class="govuk-table__cell" colspan="2">
                      {% for operator in consequence.consequenceOperators %}
                        {{ operator.operatorNoc }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {%  endif %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">{% trans 'Advice to display' %}</th>
                  <td class="govuk-table__cell" colspan="2">{{ consequence.description|capfirst }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">{% trans 'Remove from journey planner' %}</th>
                  <td class="govuk-table__cell" colspan="2">{{ consequence.removeFromJourneyPlanners|capfirst }}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">{% trans 'Disruption delay' %}</th>
                  <td class="govuk-table__cell" colspan="2">{{ consequence.disruptionDelay|default:"N/A" }}{%  if consequence.disruptionDelay %} minutes {%  endif %}</td>
                </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% if not error %}
    <script>
      BODSFrontend.initOrgMap("{{ api_root }}", "{{ org_id }}", "{{ disruption_id }}");
    </script>
  {% endif %}
{% endblock %}

