{% load i18n %}
{% load static %}
{% if properties.avl_compliance_status_cached == "Awaiting publisher review" %}
  <p class="govuk-body">
    {{ properties.avl_compliance_status_cached }}
  </p>
  <a href="{% url 'avl:validation-report-download' pk1=view.kwargs.pk1 pk=view.kwargs.pk %}" class="govuk-link">Download validation report</a>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="app-step-nav-related">
      <span class="govuk-warning-text__assistive">Warning</span>
      {% blocktrans %}
                Your data is currently being published but contains potential issues.
                Please correct these as per the email sent on
            {% endblocktrans %}
      {{ properties.first_error_date }}
      {% blocktrans %}
                and update the data feed.
                If no corrections are made your feed will go in to 'partial/non-compliant'
                status in
            {% endblocktrans %}
      {{ properties.days_to_go }}
      {% blocktrans %}
                days
            {% endblocktrans %}
    </strong>
  </div>
{% elif properties.avl_compliance_status_cached == "Partially compliant" %}
  <p class="govuk-body govuk-!-margin-bottom-1">
    {{ properties.avl_compliance_status_cached }}
  </p>
  <a href="{% url 'avl:validation-report-download' pk1=view.kwargs.pk1 pk=view.kwargs.pk %}" class="govuk-link">Download validation report</a>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="app-step-nav-related">
      <span class="govuk-warning-text__assistive">Warning</span>
      {% blocktrans %}
                The AVL data feed is only partially compliant.
                To fully pass validation please address all outstanding issues in the
                validation report and update the data feed
            {% endblocktrans %}
    </strong>
  </div>
{% elif properties.avl_compliance_status_cached == "Non-compliant" %}
  <p class="govuk-body">
    {{ properties.avl_compliance_status_cached }}
  </p>
  <a href="{% url 'avl:validation-report-download' pk1=view.kwargs.pk1 pk=view.kwargs.pk %}" class="govuk-link">Download validation report</a>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="app-step-nav-related">
      <span class="govuk-warning-text__assistive">Warning</span>
      {% blocktrans %}
                The AVL data feed is non-compliant. To pass the validation please address all
                outstanding issues in the validation report and update the data feed
            {% endblocktrans %}
    </strong>
  </div>
{% else %}
  {{ properties.avl_compliance_status_cached }}
{% endif %}
