{% extends "publish/base.html" %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
  {% trans 'Publish bus open data' %}
{% endblock %}

{% block breadcrumb.content %}
  {% breadcrumb_url root_site.name 'home' host hosts.root %}
  {% breadcrumb site.name %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
      <h1 class="govuk-heading-xl">{% trans 'Publish bus open data' %}</h1>
      <p class="govuk-body-m">
        {% trans 'This service is for bus operators running commercial bus services in England, and local authorities acting on behalf of bus operators.' %}
      </p>
      {% if feature.avl or feature.fares %}
        <p class="govuk-body-m">
          {% trans 'Use this service to publish the following data:' %}
        </p>
        <ul class="govuk-body">
        <li>{% trans 'Bus routes and timetable' %}</li>
        {% if feature.avl %}
          <li>{% trans 'Automatic Vehicle Location (AVL)' %}</li>
        {% endif %}
        {% if feature.fares %}
        <li>{% trans 'Fares' %}</li>
        {% endif %}
        </ul>

      {% else %}
        <p class="govuk-body-m">
          {% trans 'Use this service to publish your bus route and timetable data.' %}
        </p>

      {% endif %}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break"/>

      <a href={{ start_view }} role="button" draggable="false"
         class="govuk-button govuk-button--start">
        {% trans 'Start now' %}
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
             viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
        </svg>
      </a>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        {% trans "Need further help?" %}
      </h2>
      <ul class="govuk-list app-list--nav govuk-!-font-size-19">
        <li>
          <a class="govuk-link"
             href="{% url 'changelog' host hosts.root %}">{% trans 'Changelog' %}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">{% trans 'What you need to know' %}</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          {% trans 'Familiarise yourself with ' %}
          <a class="govuk-link"
             href="{% url 'guidance:support-bus_operators' host hosts.publish %}"
             aria-label="Bus operator requirements"
          >{% trans 'Bus operator requirements' %}</a>
        </li>
        <li>
          {% trans 'Familiarise yourself and your supplier with the ' %}
          <a class="govuk-link"
             target="_blank"
             href="https://pti.org.uk/system/files/files/TransXChange_UK_PTI_Profile_v1.1.A.pdf"
             aria-label="TxC 2.4 PTI v1.1a requirements"
          >{% trans 'timetables data format (TxC 2.4 PTI v1.1a)' %}</a>
        </li>
        <li>
          {% trans 'Read the bus open data ' %}
          <a class="govuk-link"
             aria-label="implementation guide (opens in new tab)"
             href="https://www.gov.uk/government/publications/bus-open-data-implementation-guide"
             target="_blank"
          >{% trans 'implementation guide' %}</a>
        </li>
        <li>
          {% trans 'If you are experiencing technical issues please ' %}
          <a class="govuk-link"
             href="{% url 'contact' host hosts.root %}"
             aria-label="contact us"
          >{% trans 'contact us' %}</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
