{% extends "publish/base.html" %}

{% load i18n %}
{% load breadcrumbs %}
{% load render_table from django_tables2 %}

{% block title_tag %}
    {% filter force_escape %}{% trans 'Service Codes Requiring Attention' %}{% endfilter %}
{% endblock %}

{% block breadcrumb.content %}
    {{ block.super }}
    {% breadcrumb_url ancestor 'feed-list' pk1=org_id host hosts.publish %}
    {% breadcrumb 'Service Codes Requiring Attention' %}
{% endblock %}

{% block full_width_content %}
    <div class="app-masthead">
        <div class="govuk-width-container">
            <div class="govuk-grid-row govuk-!-margin-top-5">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl app-masthead__title">{% trans 'Service codes requiring attention' %}</h1>
                    <p class="app-masthead__description">
                        {% filter force_escape %}
                            {% blocktrans %}
                                The service codes listed here are registered with the OTC and are in scope of BODS,
                                but are not yet published in a complete and accurate way.
                            {% endblocktrans %}
                        {% endfilter %}
                    </p>
                    <p class="app-masthead__description">
                        {% filter force_escape %}
                            {% blocktrans %}
                                Download the detailed export at the bottom of the page to determine the reason your
                                service code is listed here.
                            {% endblocktrans %}
                        {% endfilter %}
                    </p>
                    <p class="app-masthead__description">
                        {% filter force_escape %}
                            {% blocktrans %}
                                Contact the service desk if you have any questions or require any support.
                            {% endblocktrans %}
                        {% endfilter %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-column-full govuk-!-margin-bottom-9">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <div class="feed-stat">
                    <span class="feed-stat__value">{{ total_in_scope_in_season_services }}</span>
                    <span class="feed-stat__label govuk-!-font-size-16">
                        {% trans 'Total in scope/<br>in season registered services' %}
                    </span>
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="feed-stat">
                    <span class="feed-stat__value">{{ services_require_attention_percentage }}%</span>
                    <span class="feed-stat__label govuk-!-font-size-16 govuk-!-margin-bottom-2">
                        {% trans 'Services requiring<br>attention' %}
                    </span>
                    {% if services_require_attention_percentage == 0 %}
                        <span class="govuk-tag govuk-tag--green" style="letter-spacing: 0px;">{% trans 'Compliant' %}</span>
                    {% else %}
                        <span class="govuk-tag govuk-tag--red" style="letter-spacing: 0px;">{% trans 'Not Compliant' %}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-width-container">
        <div class="govuk-grid-row govuk-!-margin-top-0">
            <form>
                {% with description="Search for a licence number, service code or line number" placeholder="" style_border="2px solid black"%}
                    {% include "browse/snippets/search_banner_no_masthead.html" %}
                {% endwith %}
            </form>

            {% if services_requiring_attention %}
                <div class="govuk-width-container">
                    <div class="govuk-grid-column-full custom_govuk_table_border">
                        {% render_table table %}
                    </div>
                </div>
            {% else %}
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">
                        {% filter force_escape %}{% trans 'Sorry, no results found for your search' %}{% endfilter %}
                    </h2>
                    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break">
                    <p class="govuk-body">
                        <b>{% trans "Having trouble finding what you want?" %}</b>
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Check your spelling and try again</li>
                        <li>Use another search term</li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <p class="govuk-body-s">
                {% trans 'Use the link below to download and view the entire list of service codes' %}
            </p>
            <p class="govuk-body-s">
                <a class="govuk-link" href={% url 'service-codes' pk1=org_id host hosts.publish %}>
                    {% trans 'Download detailed export' %}
                </a>
            </p>
        </div>
    </div>
{% endblock %}
