{% extends "publish/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title_tag %}
  {% if update %}
    {% trans "Data set updated" %}
  {% else %}
    {% trans "Data set published" %}
  {% endif %}
{% endblock %}
{% block breadcrumb.content %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break" />
      <div class="tall-section govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title;font-size: 19px">
          {% blocktrans %}
            Your data set has been successfully
          {% endblocktrans %}
          {% if update %}
            updated
          {% else %}
            published
          {% endif %}
        </h1>
      </div>
      <p class="govuk-body-m">
        {% if is_pti_compliant %}
          {% blocktrans %}
        We have sent you a confirmation email.
        {% endblocktrans %}
        {% else %}
          {% blocktrans %}
        We have sent you a confirmation email. However please note that after
        {% endblocktrans %}
          {{ pti_enforced_date|date:"jS F Y" }},
          {% blocktrans %}
        BODS won't be accepting any files which are not TransxChange PTI profile
        v1.1 compliant. Please contact your scheduling supplier to update your data.
        {% endblocktrans %}
        {% endif %}
      </p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break" />
      <h2 class="govuk-heading-m">{% trans "What happens next?" %}</h2>
      <p class="govuk-body-m">
        {% blocktrans %}
          You can view the data set on your
        {% endblocktrans %}
        <a class="govuk-link" href={% url 'feed-list' pk1=view.kwargs.pk1 host hosts.publish %}>
          {% trans "data sets page." %}
        </a>
        {% blocktrans %}
          or by clicking the button below. The data will now be live for everyone else to see.
        {% endblocktrans %}
      </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break" />
      <a role="button"
         class="govuk-button"
         href="{% url 'feed-detail' pk1=view.kwargs.pk1 pk=view.kwargs.pk host hosts.publish %}">
        {% trans "View published data set" %}
      </a>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break" />
    </div>
    <div class="govuk-!-width-one-third"></div>
  </div>
{% endblock %}
