{% extends "publish/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Your data feed' 'avl:feed-list' pk1=pk1 host hosts.publish %}
  {% if is_live %}
    {% breadcrumb_url revision_name 'avl:feed-detail' pk1=pk1 pk=object.dataset_id host hosts.publish %}
  {% else %}
    {% if is_revision_update %}
      {% breadcrumb_url revision_name 'avl:revision-update-publish' pk1=pk1 pk=object.dataset_id host hosts.publish %}
    {% else %}
      {% breadcrumb_url revision_name 'avl:revision-publish' pk1=pk1 pk=object.dataset_id host hosts.publish %}
    {% endif %}
  {% endif %}
  {% breadcrumb_url "Edit description" 'avl:dataset-edit' pk1=pk1 pk=object.dataset_id host hosts.publish %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
      <div class="component-wrapper">{% crispy form %}</div>
    </div>
  </div>
{% endblock %}
