{% extends "publish/publish_list_base.html" %}
{% load i18n %}

{% block review_banner %}
    <div class="review-stat">
        <div>
            <span class="review-stat__top">{{ organisation.stats.weekly_downloads|add:organisation.stats.weekly_api_hits|add:organisation.total_subscriptions }}</span>
        </div>
        <p class="review-stat__description">{% trans 'Total consumer interactions with your data' %}</p>
        <i class="fas fa-play govuk-!-margin-right-1"></i>
        <a class="review-stat__link" href={{ data_activity_url }}>{% trans 'More details' %}</a>
    </div>
    {% if overall_ppc_score is not None %}
        <div class="review-stat">
            <div>
                <span class="review-stat__top">{{ overall_ppc_score|floatformat:"0" }}%
                    <b class="govuk-!-font-size-16" style="position: relative; bottom: 20px;">
                        {% include "publish/snippets/help_modals/weekly_overall_AVL_to_timetable.html" %}
                    </b>
                </span>
            </div>
            <p class="review-stat__description">{% trans 'Weekly overall AVL to Timetables matching score' %}</p>
            <i class="fas fa-play govuk-!-margin-right-1"></i>
            <a class="review-stat__link" href={% url 'ppc-archive' pk1=pk1 host hosts.publish %}>
                {% trans 'Download all archived matching reports' %}
            </a>
        </div>
    {% else %}
        <div class="review-stat">
            <div>
                <span class="review-stat__top">
                    {% trans 'Pending' %}
                    <b class="govuk-!-font-size-16" style="position: relative; bottom: 20px;">
                        {% include "publish/snippets/help_modals/weekly_overall_AVL_to_timetable.html" %}
                    </b>
                </span>
            </div>
            <p class="review-stat__description">{% trans 'Weekly overall AVL to Timetables matching score' %}</p>
        </div>
    {% endif %}
{% endblock %}
