{# Not strictly a success page, but base_success has the closest layout and using it avoids re-implementation #}
{% extends "base_success.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% trans 'Existing draft' %}
{% endblock %}
{% block breadcrumb.content %}{% endblock %}
{% block backlink %}
  {% url 'avl:feed-detail' pk1=pk1 pk=pk as backlink %}
  {% include 'snippets/backlink.html' with url=backlink %}
{% endblock %}
{% block title_text %}
  {% trans 'You already have a draft for this data feed.' %}
{% endblock %}
{% block body_section %}{% endblock %}
{% block done_button %}
  <div class="button-holder">
    <a role="button" class="govuk-button" href="{% url 'avl:revision-update-publish' pk1=pk1 pk=pk %}">
      {% trans 'View draft' %}
    </a>
    <a role="button" class="govuk-button govuk-button--secondary" href="{% url 'avl:feed-detail' pk1=pk1  pk=pk %}">
      {% trans 'Cancel' %}
    </a>
  </div>
{% endblock %}
