{% extends "publish/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title_tag %}
  {% if update %}
    {% trans "Data feed updated" %}
  {% else %}
    {% trans "Data feed published" %}
  {% endif %}
{% endblock %}
{% block breadcrumb.content %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-!-margin-8">
          {% blocktrans %}
            Your data feed has been successfully
          {% endblocktrans %}
          {% if update %}
            updated
          {% else %}
            published
          {% endif %}
        </h1>
      </div>
      <p class="govuk-body-m">
        {% trans "We have sent you a confirmation email." %}
      </p>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-padding-top-3">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">
        {% trans "What happens next?" %}
      </h2>
      <p class="govuk-body-m">
        {% blocktrans %}
          You can view the data feed on your
        {% endblocktrans %}
        <a class="govuk-link" href={% url 'avl:feed-list' pk1=view.kwargs.pk1 host hosts.publish %}>
          {% trans "data feeds page" %}
        </a>
        {% blocktrans %}
          or by clicking the button below. The data will now be live for everyone else to see.
        {% endblocktrans %}
      </p>
      <p class="govuk-body-m">
        {% blocktrans %}
          Please note the introduction of a new SIRI-VM validator to ensure the highest
          quality data is provided to consumers.
        {% endblocktrans %}
      </p>
      <p class="govuk-body-m">
        {% blocktrans %}
          The SIRI-VM validator will check the mandatory fields are populated 24 hours
          after publishing and if necessary an error report will be sent to you. If
          there are still missing fields at the end of 7 days the feed will change to a
          compliance error status. To learn more about the compliance error status and
          how it works please read the
        {% endblocktrans %}
        <a class="govuk-link" href="{% url 'guidance:support-bus_operators' %}?section=buslocation">
          {% trans "guidance page." %}
        </a>
      </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break" />
      <a role="button"
         class="govuk-button"
         href="{% url 'avl:feed-detail' pk1=view.kwargs.pk1 pk=view.kwargs.pk host hosts.publish %}">
        {% trans "View published data feed" %}
      </a>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break" />
    </div>
  </div>
{% endblock %}
