{% extends 'page.html' %}

{% load i18n %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{% trans 'Crispy Forms GOV.UK' %}</h1>
            <p class="govuk-body">
                {% blocktrans %}
                    This is a Django application to add <a href="https://django-crispy-forms.readthedocs.io/en/latest/">django-crispy-forms</a>
                    layout objects for the <a href="https://design-system.service.gov.uk/">GovUK Design System</a>.
                {% endblocktrans %}
            </p>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link" href="{% url 'components:home' %}">{% trans 'Components' %}</a>
                </li>
                <li>
                    <a class="govuk-link" href="{% url 'examples:home' %}">{% trans 'Examples' %}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
