$govuk-new-organisation-colours: true;
$govuk-green-colour: govuk-colour("green");
$govuk-blue-colour: govuk-colour("blue");
$govuk-confirm-colour: govuk-colour("green"); // this colour is also used in GovUK assets, e.g. $govuk-button-colour
$govuk-warning-colour:govuk-colour("yellow");// #ffbf47;
$govuk-header-link-active:govuk-colour("blue");
$fa-font-path: "./fonts";
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
$govuk-fonts-path: "../fonts/";
$govuk-images-path: "../images/";

$govuk-colours: (
  "red": #d4351c,
  "yellow": #ffdd00,
  "green": #00703c,
  "blue": #1d70b8,
  "dark-blue": #003078,
  "light-blue": #5694ca,
  "purple": #4c2c92,
  "black": #0b0c0c,
  "dark-grey": #505a5f,
  "mid-grey": #b1b4b6,
  "light-grey": #f3f2f1,
  "white": #ffffff,
  "light-purple": #6f72af,
  "bright-purple": #912b88,
  "pink": #d53880,
  "light-pink": #f499be,
  "orange": #f47738,
  "brown": #b58840,
  "light-green": #85994b,
  "turquoise": #28a197
) !default;
