$govuk-new-organisation-colours: true;
$govuk-assets-path: "/assets/frontend/";
$govuk-green-colour: govuk-colour("green");
$govuk-blue-colour: govuk-colour("blue");
$govuk-confirm-colour: govuk-colour("green"); // this colour is also used in GovUK assets, e.g. $govuk-button-colour
$govuk-warning-colour:govuk-colour("yellow");// #ffbf47;
$govuk-header-link-active: #1d8feb;
$fa-font-path: "./fonts";
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
$govuk-fonts-path: "../fonts/";
$govuk-images-path: "../images/";
@import "govuk-frontend/dist/govuk/index";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "normalize.css/normalize.css";
@import "mapbox-gl/dist/mapbox-gl.css";
@import "swagger-ui/dist/swagger-ui.css";
@import "./common";
