{% load i18n %}
<h3 class="govuk-heading-m govuk-!-margin-bottom-5">
  {% trans "September 2021 (1.14.0)" %}
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    {% blocktrans %}
      TransXChange files that are not PTI compliant will no longer be allowed to be published in BODS.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
      Users of the service can now keep track of known issues, upcoming changes and release notes through the new Changelog page.
    {% endblocktrans %}
  </li>
</ul>
