{% extends "guidance/bus_operators/base.html" %}
{% load i18n %}
{% block extra_content %}
  <h1 data-qa="descriptions-header" class="govuk-heading-l">{% trans 'Writing data descriptions' %}</h1>
  <p data-qa="descriptions-paragraph" class="govuk-body">
    {% blocktrans %}
  All data uploaded to the service requires a data description. This description
  will be publicly available so please do not use any personal information. Please include an explanation for what data is
  included in the data you are providing. This will give an indication to data consumers as to what they can expect to get
  from the data at a high level. Explain why the data has been split into different data sets i.e. all data, by
  location/regions, operating companies or lines. Additional information you could include will depend on the type of data
  provided i.e. a fares description could also include the types of fare products, elicitabilities, travel documents, etc.
  included within the data.
  {% endblocktrans %}
  </p>
{% endblock %}
