{% extends "guidance/bus_operators/base.html" %}
{% load i18n %}
{% block extra_content %}
  <h1 data-qa="registring-header" class="govuk-heading-l">
    {% trans "Registering" %}
  </h1>
  <p data-qa="registring-paragraph" class="govuk-body">
    {% blocktrans %}
            Operators can create an account for the Bus Open Data Digital Service by emailing
            <a class="govuk-link" href="mailto:bodshelpdesk@kpmg.co.uk">bodshelpdesk@kpmg.co.uk</a>.
        {% endblocktrans %}
  </p>
  <h2 data-qa="my-account-header" class="govuk-heading-l">
    {% trans "My account" %}
  </h2>
  <p data-qa="my-account-paragraph" class="govuk-body">
    {% blocktrans %}
            There are three account types: admin, standard and agent.
        {% endblocktrans %}
  </p>
  <h2 data-qa="org-profile-header" class="govuk-heading-l">
    {% trans "Organisation profile" %}
  </h2>
  <h2 data-qa="short-name-header" class="govuk-heading-l">
    {% trans "Short name &amp; National Operator Codes" %}
  </h2>
  <p data-qa="short-name-paragraph" class="govuk-body">
    {% blocktrans %}
            Under organisation profile, users can edit the short name and National Operator
            Codes (NOC) of the operator. The Bus Open Data Service uses the NOC inputted here
            to cross reference against data supplied to the service. Please make sure that
            these are maintained.
        {% endblocktrans %}
  </p>
  <p data-qa="traveline-paragraph" class="govuk-body">
    {% blocktrans %}
            The noc database can be found on the Traveline website:
            <a class="govuk-link" rel="noopener noreferrer" target="_blank" href="https://www.travelinedata.org.uk/traveline-open-data/transport-operations/about-2/">
                https://www.travelinedata.org.uk/traveline-open-data/transport-operations/about-2/
            </a>.
        {% endblocktrans %}
  </p>
  <p data-qa="email-support-paragraph" class="govuk-body">
    {% blocktrans %}
            To change the operator’s long name on BODS, please contact
            <a class="govuk-link" href="mailto:bodshelpdesk@kpmg.co.uk">bodshelpdesk@kpmg.co.uk</a>.
        {% endblocktrans %}
  </p>
  <h2 data-qa="user-management-header" class="govuk-heading-l">
    {% trans "User management" %}
  </h2>
  <p data-qa="user-management-paragraph-1" class="govuk-body">
    {% blocktrans %}
            Only admin users can add and remove other users from the operator’s organisation.
            All users can publish data for the operator.
        {% endblocktrans %}
  </p>
  <p data-qa="user-management-paragraph-2" class="govuk-body">
    {% blocktrans %}
            Types of users:
        {% endblocktrans %}
  </p>
  <p data-qa="user-management-paragraph-3" class="govuk-body">
    {% blocktrans %}
            <b>Admin</b> users should be the key account holders of the operator.
            They can add and remove other users from the organisation.
        {% endblocktrans %}
  </p>
  <p data-qa="user-management-paragraph-4" class="govuk-body">
    {% blocktrans %}
            <b>Standard</b> users should be the staff of the operator.
        {% endblocktrans %}
  </p>
  <p data-qa="user-management-paragraph-5" class="govuk-body">
    {% blocktrans %}
            <b>Agents</b> are external to the operator’s organisation and can publish an
            operator’s data to the service. Agents must be invited to the service in the first
            instance by an operator. Please ensure external contracts are established prior
            to assigning agents.
        {% endblocktrans %}
  </p>
  <h3 data-qa="unable-create-header" class="govuk-heading-m">
    {% trans "Unable to create a user?" %}
  </h3>
  <p data-qa="user-management-paragraph-6" class="govuk-body">
    {% blocktrans %}
            If you are having issues inviting a new user to your organisation, please contact
            <a class="govuk-link" href="mailto:bodshelpdesk@kpmg.co.uk">bodshelpdesk@kpmg.co.uk</a>.
        {% endblocktrans %}
  </p>
{% endblock %}
