{% extends 'browse/base.html' %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
  {% trans 'All fares data' %}
{% endblock %}

{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Download all data' 'downloads' host hosts.data %}
  {% breadcrumb 'All fares data' %}
{% endblock %}

{% block heading.title.text %}{% trans 'All fares data' %}{% endblock %}

{% block secondary.title %}
  <h3 class="govuk-heading-l">{% trans 'Download file' %}</h3>
  <p class="govuk-body">
    {% blocktrans %}
      You can download all fares data cached on the service. Fares are provided in the
      NeTEx format, within a compressed Zip file. This file is updated daily
      around 6:00am GMT.
    {% endblocktrans %}
  </p>
{% endblock %}

{% block heading.subtitle %}
  <p class="govuk-body govuk-!-margin-bottom-0">
    {% if show_bulk_archive_url %}
      <a class="govuk-link" href="{% url 'downloads-fares-bulk' host hosts.data %}"
         onClick="addGATagEvent()">
        {% trans 'Download all fares data  ' %}
      </a>
    {% else %}
      {% blocktrans %}
        Bulk download is not yet available. Please check back later.
      {% endblocktrans %}
    {% endif %}
  </p>
{% endblock %}

{% block heading.secondary %}
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">
      {% trans 'What you need to know' %}
    </h3>
    <p class="govuk-body">
      <a class="govuk-link" href="{% url 'guidance:support-developer' host hosts.data %}">
        {% trans 'View developer documentation' %}
      </a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/government/consultations/bus-services-act-2017-bus-open-data"
         target="_blank">
        {% trans 'Find out more about bus open data' %}
      </a>
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="{% url 'contact' host hosts.root %}">
        {% trans 'Contact us for technical issues' %}
      </a>
    </p>
  <p class="govuk-body">
      <a class="govuk-link" href="{% url 'download-catalogue' host hosts.data %}">
        {% trans 'Download data catalogue' %}
      </a>
    </p>
  </div>
{% endblock %}

{% block inner %}
  <div class="govuk-grid-row govuk-!-margin-top-9">
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    function addGATagEvent() {
      gtag('event', 'Download all event', {
        'event_category': 'link',
        'event_label': 'bulk download fares',
        'event_action': 'download'
      });
    }
  </script>
{% endblock %}
