{% extends "browse/base/search.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% trans "Browse Fares Data" %}
{% endblock %}
{% block breadcrumb.content %}
  {{ block.super }}
  {% breadcrumb_url 'Browse' 'select-data' host hosts.data %}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="{% url 'search-fares' host hosts.data %}?status=live">Fares Data</a>
  </li>
{% endblock %}
{% block full_width_content %}
  <form>
    {% with title="Fares data" description="Search for specific operator or location" placeholder="Search by NOC, Location, Operator or Description" %}
      {% include "browse/snippets/search_banner.html" %}
    {% endwith %}
  {% endblock %}
