{% extends "guidance/developer/base.html" %}

{% load i18n %}

{% block extra_content %}
<h1 data-qa="using-api-header" class="govuk-heading-l">{% filter force_escape %}{% trans 'Data Catalogue' %}{% endfilter %}</h1>
    <p class="govuk-body">
        {% filter force_escape %}
            {% blocktrans %}
                The data catalogue zip contains a series of CSVs which
                would gives a machine-readable overview of all the data
                that resides in BODS currently.
            {% endblocktrans %}
        {% endfilter %}
    </p>
    <p class="govuk-body">
        {% filter force_escape %}
            {% blocktrans %}
                Note that the data catalogue only covers the data from
            {% endblocktrans %}
        {% endfilter %}
        <b>
            {% filter force_escape %}
                {% blocktrans %}
                    primary data sources
                {% endblocktrans %}
            {% endfilter %}
        </b>
        {% filter force_escape %}
            {% blocktrans %}
                on BODS which is timetables data in
                TransXChange format, bus location data in SIRI-VM format
                and fares data in NeTEx format. Other non-primary data on
                BODS (e.g disruptions data or GTFS converted forms) are
                not represented on the data catalogue.
            {% endblocktrans %}
        {% endfilter %}
    </p>
    <p class="govuk-body">
        {% filter force_escape %}
            {% blocktrans %}
                The data catalogue zip contains 4 distinct CSVs:
            {% endblocktrans %}
        {% endfilter %}
    </p>
    <p class="govuk-body">
        <ul class="govuk-list govuk-list--bullet">
            <li>
                {% filter force_escape %}
                    {% blocktrans %}
                        Overall data catalogue: this contains a high-level
                        overview of all timetables, bus location and fares
                        data on BODS.
                    {% endblocktrans %}
                {% endfilter %}
            </li>
            <li>
                {% filter force_escape %}
                    {% blocktrans %}
                        Timetables data catalogue: this contains a
                        detailed granular view of the timetables data
                        within BODS. It also contains a detailed mapping
                        of the BODS timetables data with the data from the
                        Office of the Traffic Commissioner (OTC).
                    {% endblocktrans %}
                {% endfilter %}
            </li>
            <li>
                {% filter force_escape %}
                    {% blocktrans %}
                        Organisations data catalogue: this contains
                        helpful counts of data at an organisation level:
                        which is at the level of the publishing operators
                        (e.g. overall service data)
                    {% endblocktrans %}
                {% endfilter %}
            </li>
            <li>
                {% filter force_escape %}
                    {% blocktrans %}
                        Location data catalogue: this contains a detailed granular
                        view of the automatic vehicle location data within BODS.
                    {% endblocktrans %}
                {% endfilter %}
            </li>
        </ul>
    </p>

    <h3 class="govuk-heading-m">{% filter force_escape %}{% trans 'Field definitions:' %}{% endfilter %}</h3>
    <p class="govuk-body">
        {% filter force_escape %}
        {% blocktrans %}
        The data catalogue contains certain fields the definitions
        and explanations of which can be found below.
        {% endblocktrans %}
        {% endfilter %}
    </p>

    <h4 class="govuk-heading-s">{% filter force_escape %}{% trans 'Overall data catalogue:' %}{% endfilter %}</h4>
    {% include "../snippets/datacatalogue_table.html" with definitions_map=overall_column_map %}

    <h4 class="govuk-heading-s">{% filter force_escape %}{% trans 'Timetables data catalogue:' %}{% endfilter %}</h4>
    {% include "../snippets/datacatalogue_table.html" with definitions_map=timetable_column_map %}

    <h4 class="govuk-heading-s">{% filter force_escape %}{% trans 'Organisations data catalogue:' %}{% endfilter %}</h4>
    {% include "../snippets/datacatalogue_table.html" with definitions_map=org_column_map %}

    <h4 class="govuk-heading-s">{% filter force_escape %}{% trans 'Location data catalogue:' %}{% endfilter %}</h4>
    {% include "../snippets/datacatalogue_table.html" with definitions_map=location_definitions %}

{% endblock %}
