{% extends "guidance/developer/base.html" %}
{% load i18n %}
{% block extra_content %}
  <h1 data-qa="issues-header" class="govuk-heading-l">
    {% trans 'Data issues' %}
  </h1>
  <p class="govuk-body">
    {% blocktrans %}
    To report any issues found within the data please find the detail page for that
    data set/feed. This can easily be done using the data set/feed ID. Browse for
    that data and provide feedback to the data publisher. This will enable them to
    read your comments and response to your query. This way data quality can be
    iteratively improved within the service, and the transport ecosystem.
    {% endblocktrans %}
  </p>
  <p class="govuk-body">
    {% trans 'Contact' %}
    <a class="govuk-link" href="mailto:bodshelpdesk@kpmg.co.uk">bodshelpdesk@kpmg.co.uk</a>
    {% blocktrans %}
    for any queries or questions you might have if it is not already answered within
    the developer documentation. We also welcome constructive feedback about the service.
    {% endblocktrans %}
  </p>
{% endblock %}
