{% extends "guidance/developer/base.html" %}
{% load i18n %}
{% block extra_content %}
  <h1 data-qa="api-ref-header" class="govuk-heading-l">{% trans 'Maintaining quality data' %}</h1>
  <p class="govuk-body">
    {% blocktrans %}
            The Bus Open Data Service is committed to ensuring the most
            robust quality of data is available on BODS. As of such we take
            special care in ensuring that high data quality is maintained
            through various ways as outlined below.
        {% endblocktrans %}
  </p>
  <h2 data-qa="all-data-header" class="govuk-heading-l">{% trans 'Timetables data' %}</h2>
  <h3 data-qa="all-data-header" class="govuk-heading-m">{% trans 'BODS Compliant data' %}</h3>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                Currently for timetables data, BODS mandates that all publishers
                produce timetables data in TransXChange 2.4 v1.1A PTI
                profile. This profile is an extension of general schema and makes
                certain fields mandatory, whilst clarifying the specific use of
                some other fields in TransXChange. The full PTI profile can be
                found here:
            {% endblocktrans %}
    {% endfilter %}
    <br />
    <a class="govuk-link" href="{{ pti_link_on_bods }}" target="_blank" rel="noopener noreferrer">
      {% filter force_escape %}
        {{ pti_link_on_bods }}
      {% endfilter %}
    </a>
  </p>
  <p class="govuk-body">
    {% blocktrans %}
            The timetables data which is the above approved version is known
            as 'BODS Compliant data' and is flagged as such in different
            parts of the Find Bus Open Data Service (including Browse,
            Download all, Data Catalogue and the API).
        {% endblocktrans %}
  </p>
  <h3 data-qa="all-data-header" class="govuk-heading-m">{% trans 'Data Quality reports and scoring' %}</h3>
  <p class="govuk-body">
    {% blocktrans %}
            Additionally, beyond the BODS Compliant tagging, BODS also does
            data quality checks which include key data-quality observations
            that would adversely impact the passenger experience, if
            unaddressed. The full list of checks can be found
        {% endblocktrans %}
    <a class="govuk-link dont-break-out" href="{% url 'guidance:dq-definitions' host hosts.publish %}">{% trans 'here' %}</a>.
  </p>
  <p class="govuk-body">
    {% blocktrans %}
            BODS also generates a data quality score which can be seen as
            flagged in different parts of the Find Bus Open Data
            Service (including Browse, Changelog, Download all, Data
            Catalogue, and the API). The mechanism which the BODS algorithm
            uses to generate a data quality score can be found
        {% endblocktrans %}
    <a class="govuk-link dont-break-out" href="{% url 'guidance:dq-score-description' host hosts.publish %}">{% trans 'here' %}</a>.
  </p>
  <h2 data-qa="all-data-header" class="govuk-heading-l">{% trans 'Fares data' %}</h2>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                BODS will deliver new additions to the service to ensure
                publishers can perform data quality checks for fares data.  The
                updates on this should be available to consumers via the Find Bus
                Open data site very soon. Please
            {% endblocktrans %}
    {% endfilter %}
    <a class="govuk-link dont-break-out" href="{% url 'contact' %}">
      {% filter force_escape %}
        {% trans 'contact us' %}
      {% endfilter %}
    </a>
    {% filter force_escape %}
      {% blocktrans %}
                for any further queries on this.
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <h2 data-qa="all-data-header" class="govuk-heading-l">{% trans 'Bus location data' %}</h2>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                SIRI-VM data is taken into a central AVL system, where it
                is harmonised to produce a consistent SIRI-VM 2.0 output
                of bus location data for open data consumers.
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                We have introduced a SIRI-VM validator to BODS to ensure
                the highest data standards are provided to consumers. The
                validator has two parts: one that checks first for the
                schema and the second part checks for mandatory fields
                specified within the
            {% endblocktrans %}
    {% endfilter %}
    <a class="govuk-link dont-break-out"
       href="https://www.gov.uk/government/publications/technical-guidance-publishing-location-data-using-the-bus-open-data-service-siri-vm"
       target="_blank"
       rel="noopener noreferrer">
      {% filter force_escape %}
        {% trans 'DfT BODS profile' %}
      {% endfilter %}
    </a>.
    {% filter force_escape %}
      {% blocktrans %}
                For the schema check, if the feed fails it, the
                feed will be put in an ‘inactive’ status. The
                validator will check 250 packets from a feed each
                day.
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                Given the level of industry readiness in terms of
                providing consistent SIRI-VM data, there will be no
                blocking of feeds as long as they are valid SIRI (and
                don't fail the schema). However BODS compliance tags will
                be attached to showcase if they are: 'compliant',
                'non-compliant' or 'partially compliant' using a 7-day
                rolling average. The validator will look at the last 7
                days' worth of SIRI-VM aggregate data and assign a
                compliance status accordingly.
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                A SIRI-VM feed will be deemed 'compliant' if all fields
                here are present more than 70% of the time for the last 7
                days.
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      {% filter force_escape %}
        {% trans 'Bearing' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'LineRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'OperatorRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'RecordedAtTime' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'ResponseTimestamp' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'VehicleJourneyRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'VehicleLocation (Lat, Long)' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'ProducerRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'DirectionRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'BlockRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'PublishedLineName' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'ValidUntilTime' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'DestinationRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'OriginName' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'OriginRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'VehicleRef' %}
      {% endfilter %}
    </li>
  </ul>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                A SIRI-VM feed will be deemed 'partially compliant' if it
                has all other mandatory fields present but only have the
                following fields below missing 70% of the time in the last
                7 days.
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      {% filter force_escape %}
        {% trans 'BlockRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'PublishedLineName' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'DestinationRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'OriginName' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'OriginRef' %}
      {% endfilter %}
    </li>
  </ul>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                A SIRI-VM feed will be deemed 'non-compliant' if all
                fields below are not present more than 70% of the time for
                the last 7 days. It can also be assigned a direct non-
                compliant status if any one of the fields below fall under
                45% population at the time of the daily validation
                check. This is because this would count as a gross error
                in the data and would be highlighted to the publisher
                right away.
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      {% filter force_escape %}
        {% trans 'Bearing' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'LineRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'OperatorRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'RecordedAtTime' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'ResponseTimestamp' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'VehicleJourneyRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'VehicleLocation (Lat, Long)' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'ProducerRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'DirectionRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'VehicleRef' %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% trans 'ValidUntilTime' %}
      {% endfilter %}
    </li>
  </ul>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                Other compliance statuses:
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    Undergoing validation: This status will be used for
                    all newly added feeds in the first 24 hours until
                    initial checks are completed. It will also be used for
                    all compliant feeds for the first 7 days until the
                    'automated flow' rolling validation logic becomes
                    active.
                {% endblocktrans %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    Awaiting publisher review: This status will be used
                    for all feeds in the first 7 days after publishing if
                    a critical or noncritical fields(s) has not been
                    provided by >70% of vehicles in a daily check.
                {% endblocktrans %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    Unavailable due to dormant feed: This status will be
                    used for all feeds which don’t have any vehicles
                    running for 7 consecutive days and henceforth have
                    repeatedly evaded validation.
                {% endblocktrans %}
      {% endfilter %}
    </li>
  </ul>
  <p class="govuk-body govuk-!-font-weight-bold">
    {% filter force_escape %}
      {% blocktrans %}
                New feed validation process:
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <p class="govuk-body">
    {% filter force_escape %}
      {% blocktrans %}
                When a new feed is added to BODS it will be validated in
                the following way:
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <ol class="govuk-list govuk-list--number">
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    24 hours after a new SIRI feed is added the validator
                    will check against the mandatory fields and if
                    necessary, an error report will be sent to operators.
                {% endblocktrans %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    Over the subsequent 6 days when data is flowing
                    through it will continue to run randomised daily
                    checks.
                {% endblocktrans %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    After Day 7: each day a fresh automated validation
                    check will run and a compliance status will be
                    assigned on a 7-day rolling average.
                {% endblocktrans %}
      {% endfilter %}
    </li>
  </ol>
  <p class="govuk-body govuk-!-font-weight-bold">
    {% filter force_escape %}
      {% blocktrans %}
                Automated feed validation process:
            {% endblocktrans %}
    {% endfilter %}
  </p>
  <ol class="govuk-list govuk-list--number">
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    The validator will run 1 randomised check per day
                    (excluding buses running from 12am-5am).
                {% endblocktrans %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    The validator will check 250 packets from a feed each day.
                {% endblocktrans %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    70% of vehicles on the feed need to be populating the
                    mandatory fields to avoid moving in to non/partial
                    compliance error status (e.g that means 70% of
                    'Bearing' should be present in the last 7 days' worth
                    of data, if not, it will move to a non-compliant
                    status).
                {% endblocktrans %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    If the daily check has any non-compliant fields which
                    are less than 45% populated (for each non-compliant
                    feed), it will automatically move the compliance
                    status to 'non-compliant' as it is a gross error.
                {% endblocktrans %}
      {% endfilter %}
    </li>
    <li>
      {% filter force_escape %}
        {% blocktrans %}
                    If the daily check has more than 45% of non-compliant
                    fields populated (for each non-compliant feed), then
                    the rolling average check will kick in and assign a
                    compliance status based on the last 7 days.
                {% endblocktrans %}
      {% endfilter %}
    </li>
  </ol>
{% endblock %}
