{% extends "page.html" %}
{% load i18n %}
{% load static %}
{% load breadcrumbs %}
{% block header %}
  {% include "site_admin/header.html" %}
{% endblock %}
{% block breadcrumb.content %}
  {% breadcrumb_url root_site.name 'home' host hosts.root %}
  {% breadcrumb_url "BODS admin home" "home" host hosts.admin %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block content_heading %}
        <h1 class="govuk-heading-xl" aria-label="heading">
          {% block title_text %}{% endblock %}
        </h1>
      {% endblock %}
      {% block subtitle %}
        <p class="govuk-body-l">
          {% block subtitle_text %}
          {% endblock subtitle_text %}
        </p>
      {% endblock %}
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
      {% block inner %}{% endblock %}
    </div>
    <div class="govuk-grid-column-one-third">
      {% block inner_secondary %}{% endblock %}
    </div>
  </div>
  {% block extra_content %}{% endblock %}
{% endblock %}
