{% extends "site_admin/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% block title_tag %}
  {% if form.errors %}
    {% trans 'Error: ' %}
  {% endif %}
  {% trans 'Resend invitation' %}
{% endblock %}
{% block breadcrumb.content %}
{% endblock %}
{% block backlink %}
  {% url 'users:org-user-manage' pk=agentuserinvite.organisation.id host host.name as backlink %}
  {% include 'snippets/backlink.html' with url=backlink %}
{% endblock %}
{% block title_text %}
  {% trans 'Resend invitation' %}
{% endblock %}
{% block subtitle_text %}
  {% blocktrans %}
    Would you like to re-send invitation to
  {% endblocktrans %}
  {{ agentuserinvite.email }}?
{% endblock %}
{% block inner %}
  {% crispy form %}
{% endblock %}
{% block inner_secondary %}
{% endblock %}
