{% extends "browse/timetables/feed_subscription.html" %}
{% load static %}
{% load i18n %}
{% block backlink %}
  {% include "snippets/backlink.html" with url=backlink_url %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{% trans "Get data set updates" %}</h1>
      <p class="govuk-body-l">
        {% blocktrans %}
          Please sign in to receive email notifications. You will be able to subscribe to data set updates
          and manage these in your account.
        {% endblocktrans %}
      </p>
      <a role="button" class="govuk-button" href="{% url 'account_login' host hosts.data %}">{{ _("Sign in") }}</a>
      <p class="govuk-body">
        {% url 'account_signup' host hosts.data as signup_url %}
        {% blocktrans %}
          Don't have an account?
          <a class="govuk-link" href="{{ signup_url }}">Create account</a>
        {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
