{% extends 'browse/base.html' %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
    {% trans 'Guide me' %}
{% endblock %}

{% block breadcrumb.content %}
    {{ block.super }}
    {% breadcrumb 'Guide Me' %}
{% endblock %}

{% block heading.title.text %}
    {% trans 'Guide me' %}
{% endblock  %}

{% block heading.subtitle %}
    <p class="govuk-body">
        {% blocktrans %}
            We advise all users to review the following guidance for a
            better Bus Open Data Service (BODS) experience.
        {% endblocktrans %}
    </p>
{% endblock heading.subtitle %}

{% block content.extra %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <ol class="app-step-nav__steps">
                {% for section in sections %}
                    <li class="app-step-nav__step js-step">
                        <div class="app-step-nav__header js-toggle-panel" data-position="{{ forloop.counter }}">
                            <h2 class="app-step-nav__title">
                                <span class="app-step-nav__circle app-step-nav__circle--number">
                                    <span class="app-step-nav__circle-inner">
                                        <span class="app-step-nav__circle-background">
                                            <span class="govuk-visually-hidden">Step</span> {{ forloop.counter }}
                                        </span>
                                    </span>
                                </span>
                                <span class="js-step-title">
                                    <span class="js-step-title-text">
                                        {{ section.title }}
                                    </span>
                                </span>
                            </h2>
                        </div>
                        {% include section.template with host=host hosts=hosts feature=feature %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock content.extra %}
