{% extends "page.html" %}
{% load i18n %}
{% load static %}
{% load parse_dictionary %}
{% block title_tag %}
  {% trans 'Cookies' %}
{% endblock %}
{% block breadcrumb.content %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if display_cookie_confirm %}
        <div class="cookie-banner govuk-!-margin-bottom-5" style="border: 2px solid #005ea5">
          <section class="govuk-accordion__section-summary" style="padding: 20px">
            <h2 class="govuk-heading-m">
              {% trans 'Your cookie settings were saved' %}
            </h2>
            <p class="govuk-body-m">
              {% trans 'Government services may set additional cookies and, if so, will have their own cookie policy and banner.' %}
            </p>
          </section>
        </div>
      {% endif %}
      <h1 class="govuk-heading-l">
        {% trans 'Cookies on Bus Open Data Service' %}
      </h1>
      <p class="govuk-body-m">
        {% trans 'Cookies are files saved on your phone, tablet or computer when you visit a website.' %}
      </p>
      <p class="govuk-body-m">
        {% trans 'We use cookies to store information about how you use this website, such as the pages you visit.' %}
      </p>
      <h2 class="govuk-heading-m">
        {% trans 'Cookie settings' %}
      </h2>
      <p class="govuk-body-m">
        {% blocktrans %}
          We use 2 types of cookies. You can choose which cookies you are happy for us to use.
        {% endblocktrans %}
      </p>
      <h2 class="govuk-heading-m">
        {% trans 'Cookies that measure website use' %}
      </h2>
      <p class="govuk-body-m">
        {% blocktrans %}
          We use Google Analytics to measure how you use the website so we can improve the service based
          on user needs. Google Analytics sets cookies that store anonymised information about:
        {% endblocktrans %}
      </p>
      <ul class="govuk-list--bullet">
        <li style="font-size: 1.185rem; font-family:nta, Arial, sans-serif ">
          {% trans 'how you got to the site' %}
        </li>
        <li style="font-size: 1.185rem; font-family:nta, Arial, sans-serif ">
          {% trans 'the pages you visit and how long you spend on each page' %}
        </li>
        <li style="font-size: 1.185rem; font-family:nta, Arial, sans-serif ">
          {% blocktrans %}
          what you click on while you're visiting the site
          {% endblocktrans %}
        </li>
      </ul>
      <p class="govuk-body-m">
        {% trans 'We do not allow Google to use or share the data about how you use this site.' %}
      </p>
      <form>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                       id="cookie-accept-1"
                       name="cookie-accept"
                       type="radio"
                       value="True"
                       {% if is_accept == 'True' %}checked{% endif %} />
                <label class="govuk-label govuk-radios__label" for="cookie-accept-1">
                  Use cookies that measure my website use
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                       id="cookie-accept-2"
                       name="cookie-accept"
                       type="radio"
                       value="False"
                       {% if is_accept == 'False' %}checked{% endif %} />
                <label class="govuk-label govuk-radios__label" for="cookie-accept-2">
                  Do not use cookies that measure my website use
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <h2 class="govuk-heading-m">
          {% trans 'Strictly necessary cookies' %}
        </h2>
        <p class="govuk-body-m">
          {% trans 'These essential cookies do things like:' %}
        </p>
        <ul class="govuk-list--bullet">
          <li style="font-size: 1.185rem; font-family:nta, Arial, sans-serif ">
            {% blocktrans %}
          remember the notifications you've seen so we do not show them to you again
          {% endblocktrans %}
          </li>
        </ul>
        <p class="govuk-body-m">
          {% trans 'They always need to be on.' %}
        </p>
        <p class="govuk-body-m">
          <a class="govuk-link" href="{% url 'cookie-detail' host hosts.root %}">
            {% trans 'Find out more about cookies on Bus Open Data Service' %}
          </a>
        </p>
        <button class="govuk-button" type="submit" onClick="BODSFrontend.createCookie('CookielawBanner', '{{ parent_host }}')">
          {% trans 'Save changes' %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
