{% extends "page.html" %}
{% load i18n %}
{% load version %}
{% load static %}
{% block title_tag %}
  {% trans "Version" %}
{% endblock %}
{% block breadcrumb.content %}
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans "Version" %}</li>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">{% trans "Version" %}</h1>
    <p class="govuk-body">Private Beta 1.1</p>
    <p class="govuk-body">v{% version %}</p>
  </div>
{% endblock %}
