@import "../../variables";
@import "govuk-frontend/govuk/components/footer/footer";

// TODO - figure out how to import these variables from govuk footer
$govuk-footer-text: #454a4c;
$govuk-footer-link-hover: $govuk-footer-text;

.govuk-footer__navlist {
  margin-bottom: 10px;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.govuk-footer__navlist-item {
  padding: 10px 0;
  border-bottom: 1px solid #2e3133;

  a {
    color: $govuk-footer-text;

    &.hover {
      color: $govuk-footer-link-hover;
    }
  }
}

@media (min-width: 48.0625em) {
  .govuk-footer__navlist-item {
    display: inline-block;
    margin-right: 15px;
    padding: 5px 0;
    border: 0;
  }
}

.govuk-footer__navlist-item a,
.govuk-footer__body,
.govuk-footer__body a {
  color: #454a4c;
}
