{% load i18n %}

{% include 'browse/avl/feed_detail/property_table.html' %}
{% include 'browse/avl/feed_detail/api_section.html' %}
{% include 'browse/avl/feed_detail/feedback_content.html' %}

{#<div id="user-feed-back-section">#}
{#  <h3 class="govuk-heading-m">{% trans 'Would you like to provide feedback on this data set?' %}</h3>#}
{#  <a role="button" class="govuk-button govuk-button--secondary" href="{% url 'feed-feedback' object.id host hosts.data %}">#}
{#      {% trans 'Provide feedback' %}#}
{#  </a>#}
{#</div>#}
