{% load i18n %}
<a class="govuk-link govuk-!-font-size-19" href="{% url 'guidance:support-developer' host hosts.data %}?section=api">
    {% trans 'View developer documentation' %}
</a>

<p class="govuk-body">
    {% blocktrans %}
        We recommend checking the developer document to find out the parameters available.
    {% endblocktrans %}
</p>

<a class="govuk-link govuk-!-font-size-19" href="{% url 'api-select' host hosts.data %}">
    {% trans 'Try API service' %}
</a>

<p class="govuk-body">
    {% blocktrans %}
        You can investigate the different API parameters present on BODS.
        This should inform you better on how to utilize the API for your particular use case.
    {% endblocktrans %}
</p>

<a class="govuk-link govuk-!-font-size-19" href="{% url 'users:settings' host hosts.data %}">
    {% trans 'Get my API key' %}
</a>

<p class="govuk-body">
    {% blocktrans %}
        Once you have registered you will be given an API key.
    {% endblocktrans %}
</p>


<a class="govuk-link govuk-!-font-size-19" href="{% url 'guidance:support-developer' host hosts.data %}?section=casestudies">
    {% trans 'Case studies' %}
</a>

<p class="govuk-body">
    {% blocktrans %}
        Helpful cases studies are provided to inspire and support your API data journey on BODS.
    {% endblocktrans %}
</p>

<a class="govuk-link govuk-!-font-size-19" target="_blank" href="https://github.com/department-for-transport-BODS/bods-data-extractor">
    {% trans 'BODS Data Extractor Python Package' %}
</a>

<p class="govuk-body">
    {% blocktrans %}
        A pre build set of Python functions to make it easier to find and extract BODS data from the API.
    {% endblocktrans %}
</p>
