{% load i18n %}

<div id="api-notification" class="app-!-mb-7">
{% if notification == True %}
      <a class="govuk-button govuk-button--link"
         href="{% url 'fares-feed-subscription' pk=object.id host hosts.data %}">{% trans 'Unsubscribe from this data set' %}</a>
    {% elif notification == False and object.status != 'error' and object.status != 'expired' and object.status != 'inactive' %}
      <a class="govuk-button govuk-button--link"
         href="{% url 'fares-feed-subscription' pk=object.id host hosts.data %}">{% trans 'Subscribe to this data set' %}</a>
    {% endif %}
</div>
{% if feed_api %}
  <div id="api-section" class="app-!-mb-9">
    <h2 class="govuk-heading-m">{% trans 'Use this data set in your code' %}</h2>
    <div class="govuk-tabs api-doc">
      <h2 class="govuk-tabs__title">
        API Quick Start
      </h2>

      <div class="code_snippet_box" id="code-snippet">
        <div class="code-snippet">
          <span id="code-snippet-url" class="code-snippet__url dont-break-out">{{ feed_api }}</span>
          <div>
            <button class="govuk-button govuk-button--link code-snippet__link"
               aria-label="Copy Code snippet to clipboard"
                    onclick="BODSFrontend.copyToClipboard(document.getElementById('code-snippet-url').innerText)">
                {% trans 'Copy' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
