{% extends "page.html" %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
  {% trans 'Data feed details' %}
{% endblock %}

{# Breadcrumb #}
{% block breadcrumb.content %}
    {{ block.super }}
    {% include 'browse/fares/feed_detail/breadcrumb.html' %}
{% endblock %}

{% block content %}
    {# Page Heading Section #}
    {% include 'browse/fares/feed_detail/page_heading.html' %}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {# Main Section #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if object.status == 'error' %}
            {% include 'browse/fares/feed_detail/error_panel.html' %}
        {% else %}
            {% include 'browse/fares/feed_detail/success_content.html' %}
        {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">
        {% include 'browse/fares/feed_detail/related_links.html' %}
    </div>
  </div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    {% if object.status == 'live' or object.status == 'inactive' %}
      <script>
        BODSFrontend.initFaresDetailMap("{{ api_root }}", {{ object.live_revision.id }});
      </script>
    {% endif %}
{% endblock %}
