{% load i18n %}
<h3 data-qa="bus-location-header" class="govuk-heading-m">
  {% trans "Agent for AVL support" %}
</h3>
<table data-qa="requirements-table" class="govuk-table">
  <tbody class="govuk-table__body">
    <tr data-qa="timetable-row" class="govuk-table__row">
      <td class="govuk-table__cell">
        {% trans "ShuttleID" %}
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="mailto:info@shuttleid.uk">{% trans "info@shuttleid.uk" %}</a>
      </td>
    </tr>
  </tbody>
</table>
