{% load i18n %}
<h3 data-qa="bus-location-header" class="govuk-heading-m">
    {% trans 'Agent for timetable support' %}
</h3>
<table data-qa="requirements-table" class="govuk-table">
    <tbody class="govuk-table__body">
        <tr data-qa="timetable-row" class="govuk-table__row">
            <td class="govuk-table__cell">{% trans 'BODS' %}</td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="mailto:markaaronsmith2000@yahoo.co.uk">{% trans 'markaaronsmith2000@yahoo.co.uk' %}</a>
            </td>
            <td class="govuk-table__cell">{% trans 'MarkSmithBODS' %}</td>
        </tr>
    </tbody>
</table>
