{% load i18n %}
<h3 data-qa="bus-location-header" class="govuk-heading-m">
  {% trans 'Agents for timetables and fares support' %}
</h3>
<table data-qa="requirements-table" class="govuk-table">
  <tbody class="govuk-table__body">
    <tr data-qa="timetable-row" class="govuk-table__row">
      <td class="govuk-table__cell">
        {% trans 'Elydium Limited' %}
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="mailto:busopendata@elydium.co.uk">{% trans 'busopendata@elydium.co.uk' %}</a>
      </td>
    </tr>
    <tr data-qa="timetable-row" class="govuk-table__row">
      <td class="govuk-table__cell">
        {% trans 'MCI Transport Consultants Ltd' %}
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="mailto:wayne@martlet.uk.com">{% trans 'wayne@martlet.uk.com' %}</a>
      </td>
    </tr>
    <tr data-qa="timetable-row" class="govuk-table__row">
      <td class="govuk-table__cell">
        {% trans 'Charlton\'s Consultance' %}
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="mailto:mark.fdr@outlook.com">{% trans 'mark.fdr@outlook.com' %}</a>
      </td>
    </tr>
  </tbody>
</table>
