{% load i18n %}
<h3 data-qa="bus-location-header" class="govuk-heading-m">
    {% trans 'Bus location solution suppliers' %}
  </h3>
  <table data-qa="requirements-table" class="govuk-table">
    <tbody class="govuk-table__body">
      <tr data-qa="timetable-row" class="govuk-table__row">
        <td class="govuk-table__cell">INIT</td>
        <td class="govuk-table__cell">
          <a href="https://www.initse.com/ende/home/">https://www.initse.com/ende/home/</a>
        </td>
        <td class="govuk-table__cell">
          <a href="mailto:pobszynski@init.co.uk">pobszynski@init.co.uk</a>
        </td>
      </tr>
      <tr data-qa="bus-location-row" class="govuk-table__row">
        <td class="govuk-table__cell">Parkeon Flowbird</td>
        <td class="govuk-table__cell">
          <a href="https://www.flowbird.group/">https://www.flowbird.group/</a>
        </td>
        <td class="govuk-table__cell">
          <a href="mailto:contact@flowbird.group">
            contact@flowbird.group</a></td>
      </tr>
      <tr data-qa="basic-fares-row" class="govuk-table__row">
        <td class="govuk-table__cell">Ticketer</td>
        <td class="govuk-table__cell">
          <a href="https://www.ticketer.com/en/">https://www.ticketer.com/en/</a>
        </td>
        <td class="govuk-table__cell">
          <a href="mailto:support@ticketer.co.uk">support@ticketer.co.uk</a>
        </td>
      </tr>
      <tr data-qa="complex-fares-row" class="govuk-table__row">
        <td class="govuk-table__cell">Vix</td>
        <td class="govuk-table__cell">
          <a href="https://vixtechnology.com/">https://vixtechnology.com/</a>
        </td>
        <td class="govuk-table__cell">
          <a href="mailto:uk.sales@vixtechnology.com">uk.sales@vixtechnology.com</a>
        </td>
      </tr>
    </tbody>
  </table>
