{% load i18n %}
<p class="govuk-body">
  {% blocktrans %}
        Contact
        <a class="govuk-link" href="mailto:bodshelpdesk@kpmg.co.uk">bodshelpdesk@kpmg.co.uk</a>
        for:
    {% endblocktrans %}
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{% trans "Request TxC tool support or creation from DfT" %}</li>
  <li>{% trans "Support using the Fare Data Build tool" %}</li>
  <li>{% trans "Technical and publishing issues on BODS" %}</li>
  <li>{% trans "Create an operator account" %}</li>
  <li>{% trans "Enquiries about the Bus Open Data Program" %}</li>
  <li>{% trans "Feedback on the service" %}</li>
</ul>
