{% load i18n %}
<h3 data-qa="timetable-header" class="govuk-heading-m">
    {% trans 'Fares solution suppliers' %}
</h3>
<p class="govuk-body">
    {% blocktrans %}
        Many ETM suppliers are developing NeTEx output solutions for their customers.
        Speak with your ETM supplier about their developments and how they align with your requirements.
    {% endblocktrans %}
</p>
<p class="govuk-body">
    {% blocktrans %}
        Transport for the North (TfN) are developing the Fare Data Build Tool, that will allow
        operators to create their own NeTEx fares data, please contact
        <a class="govuk-link" href="mailto:fdbt-support@infinityworks.com">fdbt-support@infinityworks.com</a>
        for more information.
    {% endblocktrans %}
</p>
