<table data-qa="requirements-table" class="govuk-table">
  <thead data-qa="requirements-table-header" class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Data required</th>
      <th scope="col" class="govuk-table__header">Data format required</th>
      <th scope="col" class="govuk-table__header">Requirement date</th>
      <th scope="col" class="govuk-table__header">Obligation</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr data-qa="timetable-row" class="govuk-table__row">
      <td class="govuk-table__cell">Timetable</td>
      <td class="govuk-table__cell">TransXChange Version 2.4</td>
      <td class="govuk-table__cell">31st December 2020</td>
      <td class="govuk-table__cell">Operator</td>
    </tr>
    <tr data-qa="bus-location-row" class="govuk-table__row">
      <td class="govuk-table__cell">Bus location</td>
      <td class="govuk-table__cell">SIRI-VM Version 2.0</td>
      <td class="govuk-table__cell">7th January 2021</td>
      <td class="govuk-table__cell">Operator</td>
    </tr>
    <tr data-qa="basic-fares-row" class="govuk-table__row">
      <td class="govuk-table__cell">Basic fares</td>
      <td class="govuk-table__cell">UK NeTEx 1.10</td>
      <td class="govuk-table__cell">7th January 2021</td>
      <td class="govuk-table__cell">Operator</td>
    </tr>
    <tr data-qa="complex-fares-row" class="govuk-table__row">
      <td class="govuk-table__cell">Complex fares</td>
      <td class="govuk-table__cell">UK NeTEx 1.10</td>
      <td class="govuk-table__cell">7th January 2023</td>
      <td class="govuk-table__cell">Operator</td>
    </tr>
    <tr data-qa="stop-data-row" class="govuk-table__row">
      <td class="govuk-table__cell">Stop data</td>
      <td class="govuk-table__cell">NaPTAN</td>
      <td class="govuk-table__cell">31st December 2020</td>
      <td class="govuk-table__cell">Local Transport Authority</td>
    </tr>
  </tbody>
</table>
