{% extends "site_admin/base.html" %}

{% load static %}
{% load i18n %}
{% load breadcrumbs %}

{% block title_tag %}
    {% trans 'Data Monitoring' %}
{% endblock %}

{% block breadcrumb.content %}
    {{ block.super }}
    {% breadcrumb_url 'Data monitoring' 'bods-metrics' host hosts.admin %}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    {% blocktrans %}
                        Data monitoring
                    {% endblocktrans %}
                </h1>
                <h2 class="govuk-heading-m">
                    {% blocktrans %}
                        View monitoring metrics
                    {% endblocktrans %}
                </h2>
                <p class="govuk-body">
                    {% blocktrans %}
                        This page provides a visualisation for some of
                        the key metrics used to track the different
                        operational level and data consumer metrics
                        used on BODS.
                    {% endblocktrans %}
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" href="{% url 'overview-metrics' host host.name %}">
                        {% blocktrans %}
                            View monitoring metrics
                        {% endblocktrans %}
                    </a>
                </p>

                <h2 class="govuk-heading-m">
                    {% blocktrans %}
                        Download all monitoring metrics
                    {% endblocktrans %}
                </h2>
                <p class="govuk-body">
                    {% blocktrans %}
                        This download provides data on the different
                        operational level and data consumer metrics
                        used to track on BODS including details on
                        operators and their data uploads, data quality
                        and data consumer metrics.
                    {% endblocktrans %}
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" href="{% url 'download-metrics' host host.name %}">
                        {% blocktrans %}
                            Select monitoring metrics to download
                        {% endblocktrans %}
                    </a>
                </p>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
{% endblock %}
