{% extends "page.html" %}

{% load i18n %}
{% load static %}
{% load breadcrumbs %}

{% block breadcrumb.content %}
  {{ block.super }}
  {% if user_base_no_link %}
    {% breadcrumb 'My account' %}
  {% else %}
    {% breadcrumb_url 'My account' 'users:home' host host.name %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block content_heading %}
        <h1 class="govuk-heading-xl">
          {% block title_text %}
          {% endblock %}
        </h1>
      {% endblock %}
      {% block subtitle %}
        <p class="govuk-body-l">
          {% block subtitle_text %}
          {% endblock subtitle_text %}
        </p>
      {% endblock %}
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
      {% block inner %}{% endblock %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% block inner_secondary %}{% endblock %}
    </div>
  </div>

  {% block extra_content %}
  {% endblock %}
{% endblock %}
