{% extends "users/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% block breadcrumb.content %}{% endblock %}
{% block title_tag %}
  {% trans "Agent invite has been resent" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">{% trans "Agent invite has been resent" %}</h1>
    <p class="govuk-body">
      {% trans "Agent user invite has been resent to " %}
      <b>{{ object.email }}</b>.
    </p>
    <a href="{% url 'users:manage' pk=object.organisation.id host host.name %}"
       role="button"
       draggable="false"
       class="govuk-button govuk-!-margin-top-5"
       data-module="govuk-button">Go back to user management</a>
  </div>
{% endblock %}
