{% extends "users/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% block title_tag %}
  {% if form.errors %}
    {% trans 'Error: ' %}
  {% endif %}
  {% trans 'Resend agent user invitation' %}
{% endblock %}
{% block breadcrumb.content %}{% endblock %}
{% block backlink %}
  {% url 'users:manage' pk=object.organisation.id host host.name as backlink %}
  {% include 'snippets/backlink.html' with url=backlink %}
{% endblock %}
{% block title_text %}
  {% trans 'Resend agent user invitation' %}
{% endblock %}
{% block subtitle_text %}
  {% trans 'Would you like to re-send invitation to ' %}
  {{ object.email }}?
{% endblock %}
{% block inner %}
  {% crispy form %}
{% endblock %}
{% block inner_secondary %}{% endblock %}
