{% extends "base_success.html" %}
{% load i18n %}
{% load breadcrumbs %}
{% block title_tag %}
  {% trans "User details updated" %}
{% endblock %}
{% block breadcrumb.content %}
{% endblock %}
{% block title_text %}
  {% trans "User detail has been updated" %}
{% endblock %}
{% block body_text %}
  {% trans "User" %}
  {{ user.username }}
  {% trans "has been updated." %}
{% endblock %}
{% block button_href %}
  {% url 'users:manage-user-detail' pk=user.id host hosts.publish %}
{% endblock %}
{% block button_text %}
  {% trans "Go back to user profile" %}
{% endblock %}
