{% extends "users/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% block breadcrumb.content %}
  {% breadcrumb_url root_site.name 'home' host hosts.root %}
  {% breadcrumb_url site.name 'home' host hosts.publish %}
  {% breadcrumb_url 'My account' 'users:home' host host.name %}
{% endblock %}
{% block title_tag %}
  {% trans 'Rejected invite' %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">You rejected the offer to act as an agent on behalf of {{ object.organisation.name }}</h1>
      <a href="{% url 'users:home' host host.name %}"
         role="button"
         draggable="false"
         class="govuk-button"
         data-module="govuk-button">Return to My account</a>
    </div>
  </div>
{% endblock %}
