{% extends "users/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load breadcrumbs %}
{% block breadcrumb.content %}
{% endblock %}
{% block title_tag %}
  {% trans 'You are no longer an agent' %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-9">
      <h1 class="govuk-panel__title">
        You are no longer an agent for {{ object.organisation.name }}
      </h1>
    </div>
    <p class="govuk-body">
      {% trans 'We have sent ' %}
      {{ object.organisation.name }}
      {% trans 'a confirmation email.' %}
    </p>
    <a href="{% url 'users:home' host host.name %}"
       role="button"
       draggable="false"
       class="govuk-button govuk-!-margin-top-5"
       data-module="govuk-button">Return to My account</a>
  </div>
{% endblock %}
