{% extends "page.html" %}
{% load static %}
{% load i18n %}
{% load breadcrumbs %}
{% load render_table from django_tables2 %}
{# Page Title #}
{% block title_tag %}
  {% trans 'Changelog' %}
{% endblock %}
{# Breadcrumb #}
{% block breadcrumb.content %}
{% endblock %}
{# Backlink #}
{% block backlink %}
  {% url 'fares:feed-detail' pk1=pk1 pk=object.id host host.name as backlink_url %}
  {% include 'snippets/backlink.html' with url=backlink_url %}
{% endblock %}
{# Page Content #}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">{% trans 'Changelog' %}</span>
      <h1 class="govuk-heading-xl dont-break-out">
        {{ feed.name }}
      </h1>
    </div>
  </div>
  {% render_table table %}
{% endblock %}
