{% load i18n %}
<div class="govuk-panel blue-background govuk-panel--confirmation" >
  <h1 class="govuk-panel__title govuk-!-font-size-36">
    {% trans "Your data is being processed" %}
  </h1>
  <div class="govuk-panel__body govuk-!-font-size-19">
    <div class="pb3-l" >
      {% blocktrans %}
          Once successfully processed, the feed will be published, <br />
          and you will be able to view the details here
        {% endblocktrans %}
    </div>
    <div id="progressOuterDiv"
      {#                         class="progress-bar-outer"#}

      >
      <div id="progressInnerDiv"
        {#                              class="progress-bar-inner"#}

        >
      </div>
    </div>
    <span
      {#                      class="progress-bar-text"#}

    id="progressSpan"></span>
  </div>
</div>
