{% load i18n %}
{% load crispy_forms_tags %}
{# Preview Section #}
<div id="preview-section">
  {# Publish form #}
  <div class="govuk-!-margin-bottom-6">
    {% crispy form %}
  </div>
  <h2 class="govuk-heading-l dont-break-out">
    {{ object.name }}
  </h2>
  {% include "avl/review/property_table.html" %}
  <div class="btn-group-justified">
    <a role="button"
       class="govuk-button govuk-button--secondary"
       href="{% url 'avl:revision-delete' pk1=pk1 pk=object.dataset_id host hosts.publish %}">
      {{ _("Delete data feed") }}
    </a>
    <a role="button"
       class="govuk-button govuk-button--secondary"
       href="{% url 'avl:feed-update' pk1=pk1 pk=object.dataset_id host hosts.publish %}">
      {{ _("Publish correct data feed") }}
    </a>
  </div>
</div>
