{% load django_tables2 %}
{% load i18n %}
{% load parse_dictionary %}
{% block table-wrapper %}
  <div>    

    {% block table %}
      <table class="custom_govuk_table" {% render_attrs table.attrs %}>
        {% if table.caption %}
          <caption class="govuk-table__caption {{ table.attrs.caption.class |default_if_none:"" }}">{{ table.caption }}</caption>
        {% endif %}
        {% block table.thead %}
          {% if table.show_header %}
            <thead class="govuk-table__head {{ table.attrs.thead.class |default_if_none:"" }}">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Service ({{ table.paginated_rows|length }})</th>
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                  <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-0" id="button-suppress-observation" data-module="govuk-button"
                  onclick="BODSFrontend.suppressAllObservations({{ row.cells.organisation_id }}, {{ row.cells.revision_id }}, {{ row.cells.report_id }}, '{{ row.cells.observation }}');" 
                  >
                    Suppress all observations
                  </button>
                </th>
              </tr>
            </thead>
          {% endif %}
        {% endblock table.thead %}
        {% block table.tbody %}
          <tbody class="govuk-table__body {{ table.attrs.tbody.class |default_if_none:"" }}">
            {% for row in table.paginated_rows %}
              {% block table.tbody.row %}
                <tr class="govuk-table__row {{ row.attrs.class }}">
                  <td class="govuk-table__cell govuk-!-padding-bottom-0  {{ column.attrs.td.class |default_if_none:"" }}">
                    {% if row.cells.is_published %}
                      <a href="{% url 'line-detail' pk1=request.resolver_match.kwargs.pk1 pk=request.resolver_match.kwargs.pk host hosts.publish %}?line={{ row.cells.line_name }}&service={{ row.cells.service_code }}">
                        {{ row.cells.line_name }} - {{ row.cells.service_code }}
                      </a>
                    {% else %}
                      <a href="{% url 'revision-line-detail' pk1=request.resolver_match.kwargs.pk1 pk=request.resolver_match.kwargs.pk host hosts.publish %}?line={{ row.cells.line_name }}&service={{ row.cells.service_code }}&revision_id={{ row.cells.revision_id }}">
                        {{ row.cells.line_name }} - {{ row.cells.service_code }}
                      </a>
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-!-padding-bottom-0  {{ column.attrs.td.class |default_if_none:"" }}">
                    {% if row.cells.is_details_link %}
                      <a href="{{ request.build_absolute_uri }}detail?line={{ row.cells.line_name }}&service={{ row.cells.service_code }}">
                        {{ row.cells.dqs_details }}
                      </a>
                    {% else %}
                      {{ row.cells.dqs_details }}
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-!-padding-bottom-0 ">
                    {% if row.cells.is_published %}
                      <a href="{% url 'line-detail' pk1=request.resolver_match.kwargs.pk1 pk=request.resolver_match.kwargs.pk host hosts.publish %}?line={{ row.cells.line_name }}&service={{ row.cells.service_code }}">
                        {{ row.cells.line_name }} - {{ row.cells.service_code }}
                      </a>
                    {% else %}                      
                      <div class="govuk-form-group">
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">                            
                            <input class="govuk-checkboxes__input checkbox-suppress" id="checkbox-suppress-{{forloop.counter}}" name="suppress" 
                            type="checkbox" 
                            {% if row.cells.is_suppressed %} checked {% else %}  {% endif %}                                
                            onclick="BODSFrontend.suppressObservation({{ row.cells.organisation_id }}, {{ row.cells.revision_id }}, {{ row.cells.report_id }}, '{{ row.cells.service_code }}','{{ row.cells.line_name }}', '{{ row.cells.observation }}', '{{forloop.counter}}' );"  >
                            <label class="govuk-label govuk-checkboxes__label" for="suppress" id="row-{{forloop.counter}}" >
                              {% if row.cells.is_suppressed %}
                                  Suppressed
                              {% else %}
                                  Suppress
                              {% endif %}
                            </label>
                          </div>                                                          
                        </div>                          
                    </div>
                    {% endif %}
                  </td>
                </tr>
              {% endblock table.tbody.row %}
            {% empty %}
              {% if table.empty_text %}
                {% block table.tbody.empty_text %}
                  <tr class="govuk-table__row !govuk-padding-0">
                    <td class="govuk-table__cell" colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                  </tr>
                {% endblock table.tbody.empty_text %}
              {% endif %}
            {% endfor %}
          </tbody>
        {% endblock table.tbody %}
        {% block table.tfoot %}
          {% if table.has_footer %}
            <tfoot {{ table.attrs.tfoot.as_html }}>
              <tr class="govuk-table__row">
                {% for column in table.columns %}
                  <td class="govuk-table__cell {{ column.attrs.td.class |default_if_none:"" }}">{{ column.footer }}</td>
                {% endfor %}
              </tr>
            </tfoot>
          {% endif %}
        {% endblock table.tfoot %}
      </table>
    {% endblock table %}
    {% block pagination.bottom %}
      {% if table.pagination_bottom %}
        {% include "snippets/pagination.html" with paginator=table.paginator prefixed_page_field=table.prefixed_page_field page=table.page %}
      {% endif %}
    {% endblock %}
  </div>
{% endblock table-wrapper %}
