{% load static %}
{% load i18n %}
{% load cookie_consent_tags %}
{% load parse_dictionary %}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" type="image/x-icon" href="{% static 'frontend/images/favicon.ico' %}" />
    <meta charset="utf-8" />
    {% cookielaw_banner %}
    <title>
      {% block title_tag %}
        {% trans "Bus Open Data Service" %}
      {% endblock %}
    </title>
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="description" content="BODS" />
    <meta name="keywords" content="BODS" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <link rel="icon" sizes="any" href="{% static 'frontend/images/favicon.svg' %}" type="image/svg+xml" />
    <link rel="mask-icon" href="{% static 'frontend/images/govuk-icon-mask.svg' %}" color="#0b0c0c" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frontend/images/govuk-icon-180.png' %}" />
    {% block styles %}
      <link href="{% static 'frontend/css/vendor.css' %}" rel="stylesheet" />
      <link href="{% static 'frontend/css/main.css' %}" rel="stylesheet" />
    {% endblock %}
    <meta property="og:image" content="{% static 'frontend/images/govuk-opengraph-image.png' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  {% block body %}
    <body class="govuk-template__body govuk-body">
      <script>
          document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
      </script>
      {% block skiplink %}
        <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
      {% endblock %}
      {% block page %}{% endblock %}
      {% block scripts %}
        {{ GOOGLE_ANALYTICS_KEY | json_script:"ga-data" }}
        <script>var mapboxKey = '{{MAPBOX_KEY}}'</script>
        <script src="{% static 'frontend/vendor.bundle.js' %}"></script>
        <script src="{% static 'frontend/main.bundle.js' %}"></script>
        <script>
          new BODSFrontend.MyAccountMenu();
          BODSFrontend.initAll();
        </script>
        {% if not request.COOKIES.keys|is_value_in_dict:'cookie_policy' %}
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS_KEY}}"></script>
          <script>
            const gaToken = JSON.parse(document.getElementById('ga-data').textContent);
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', gaToken);
          </script>
        {% else %}
          <script>
            const gaToken = JSON.parse(document.getElementById('ga-data').textContent);
            window['ga-disable-' + gaToken] = true;
          </script>
        {% endif %}
      {% endblock %}
    </body>
  {% endblock %}
</html>
