{% extends "base.html" %}
{% load i18n %}
{% load version %}
{% load breadcrumbs %}
{% block page %}
  {% block header %}
    {% include "header.html" %}
  {% endblock %}
  <div>
    <div class="govuk-width-container">
      {% include "banner.html" with current_host=request.get_host current_path=request.get_full_path|urlencode %}
      {% block breadcrumb %}
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            {% block breadcrumb.content %}
              {% breadcrumb_url 'Bus Open Data Service' 'home' host hosts.root %}
              {% if host.name == 'admin' %}
                {% breadcrumb_url 'BODS admin home' 'home' host host.name %}
              {% else %}
                {% breadcrumb_url site.name 'home' host host.name %}
              {% endif %}
            {% endblock %}
          </ol>
        </div>
      {% endblock %}
      {% block backlink %}
      {% endblock %}
    </div>
    <main id="main-content" role="main">
      {% block full_width_content %}
      {% endblock %}
      <div class="govuk-width-container">
        <div class="govuk-main-wrapper app-main-class">
          {% include 'snippets/timeout_warning_modal.html' %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>
  </div>
  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}
{% endblock %}
