{% extends "browse/feed_detail_base.html" %}

{% load static %}
{% load i18n %}

{% block inner.extra %}

  <!-- API SECTION -->
  {% if feed_api %}
    <div class="govuk-grid-row" id="api-section">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

        <h2 class="govuk-heading-m">{% trans 'Use this data set in your code' %}</h2>
        <p class="govuk-body">
          {% blocktrans %}
            To start using the data set simply use the provided API URL:
          {% endblocktrans %}
        </p>


        <div class="govuk-tabs api-doc" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            API Quick Start
          </h2>

          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#code-snippet">
                {% trans 'Code snippet' %}
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#example-output">
                {% trans 'Example data output' %}
              </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="code-snippet">
            <h2 class="govuk-heading-l">Code snippet</h2>
            <div class="code-snippet">
              <span id="code-snippet-url" class="code-snippet__url dont-break-out">{{ feed_api }}</span>
              <div>
                <button class="code-snippet__button" onclick="copyToClipboard()" aria-label="Copy code snippet to clipboard">{% trans 'COPY' %}</button>
              </div>
            </div>
          </section>
          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="example-output">
            <div class="code-snippet">
              <textarea class="code-snippet__example">{{ serialized_data }}</textarea>
            </div>
          </section>
        </div>

        <p class="govuk-body">
          {% blocktrans %}
            For more information of how to modify the API call or add additional filter refer to developer
            documentation.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  {% endif %}

  <!-- DOCS / SUBSCRIPTION SECTION -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a role="button" class="govuk-button" href="{% url 'guidance:support-developer' host hosts.data %}?section=Using the API"
      aria-label="View developer documentation">
        {{ _('View documentation') }}
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      {% if notification == True %}
        <a class="govuk-button govuk-button--link"
           href="{% url 'feed-subscription' pk=object.id host hosts.data %}">{% trans 'Unsubscribe from this data set' %}</a>
      {% elif notification == False and object.status != 'error' and object.status != 'expired' and object.status != 'inactive' %}
        <a class="govuk-button govuk-button--link"
           href="{% url 'feed-subscription' pk=object.id host hosts.data %}">{% trans 'Subscribe to this data set' %}</a>
      {% endif %}
    </div>
  </div>

{% endblock inner.extra %}

{% block inner.secondary %}
  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-s">{% trans 'More from this publisher' %}</h2>
      <ul class="govuk-list app-list--nav">
        <li>{% trans object.organisation.name %}</li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    function copyToClipboard() {
      var copyText = document.getElementById('code-snippet-url').innerText;
      console.log(copyText);
      var tempInput = document.createElement('textArea');
      tempInput.style = "position: absolute; left: -1000px; top: -1000px";
      tempInput.value = copyText;

      document.body.appendChild(tempInput);

      if (isOS()) {
        range = document.createRange();
        range.selectNodeContents(tempInput);
        selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
        tempInput.setSelectionRange(0, 999999);
      } else {
        tempInput.select();
      }

      var result = document.execCommand('copy');

      document.body.removeChild(tempInput);
    }

    function isOS() {
      return navigator.userAgent.match(/ipad|iphone/i);
    }
  </script>
{% endblock %}
