{% load i18n %}
<a class="govuk-link govuk-!-font-size-19" href="{% url 'redirect-dashboard' host hosts.publish %}">
  {% trans "View publisher dashboard" %}
</a>
<p class="govuk-body">
  {% blocktrans %}
        Review all datasets published on BODS from your organisation account and keep track
        of your data health.
    {% endblocktrans %}
</p>
<a class="govuk-link govuk-!-font-size-19" href="{% url 'redirect-activity' host hosts.publish %}">
  {% trans "View data consumers activity" %}
</a>
<p class="govuk-body">
  {% blocktrans %}
        View stats on how data consumers are utilising and interacting with your published
        data.
    {% endblocktrans %}
</p>
