# coding: utf-8

"""
    CAVL Config API

    Used to configure feed consumers in the CAVL Service  # noqa: E501

    OpenAPI spec version: 0.1.0
    Contact: greg.brown@itoworld.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six
from cavl_client.api_client import ApiClient


class FeedApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_feed(self, body, **kwargs):  # noqa: E501
        """Adds a new feed  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_feed(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Feed body: Feed object that needs to be added to the consumer config (required)
        :return: InlineResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.add_feed_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_feed_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_feed_with_http_info(self, body, **kwargs):  # noqa: E501
        """Adds a new feed  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_feed_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Feed body: Feed object that needs to be added to the consumer config (required)
        :return: InlineResponse201
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["body"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_feed" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'body' is set
        if "body" not in params or params["body"] is None:
            raise ValueError(
                "Missing the required parameter `body` when calling `add_feed`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if "body" in params:
            body_params = params["body"]
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/feed",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="InlineResponse201",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def delete_feed(self, feed_id, **kwargs):  # noqa: E501
        """Deletes the feed with the specified ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_feed(feed_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int feed_id: The ID of the feed to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.delete_feed_with_http_info(feed_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_feed_with_http_info(feed_id, **kwargs)  # noqa: E501
            return data

    def delete_feed_with_http_info(self, feed_id, **kwargs):  # noqa: E501
        """Deletes the feed with the specified ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_feed_with_http_info(feed_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int feed_id: The ID of the feed to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["feed_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_feed" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'feed_id' is set
        if "feed_id" not in params or params["feed_id"] is None:
            raise ValueError(
                "Missing the required parameter `feed_id` when calling `delete_feed`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "feed_id" in params:
            path_params["feedId"] = params["feed_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/feed/{feedId}",
            "DELETE",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_feed(self, feed_id, **kwargs):  # noqa: E501
        """Gets a feed by ID  # noqa: E501

        Returns a single feed config  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feed(feed_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int feed_id: The ID of feed to return (required)
        :return: Feed
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_feed_with_http_info(feed_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_feed_with_http_info(feed_id, **kwargs)  # noqa: E501
            return data

    def get_feed_with_http_info(self, feed_id, **kwargs):  # noqa: E501
        """Gets a feed by ID  # noqa: E501

        Returns a single feed config  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feed_with_http_info(feed_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int feed_id: The ID of feed to return (required)
        :return: Feed
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["feed_id"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_feed" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'feed_id' is set
        if "feed_id" not in params or params["feed_id"] is None:
            raise ValueError(
                "Missing the required parameter `feed_id` when calling `get_feed`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "feed_id" in params:
            path_params["feedId"] = params["feed_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/feed/{feedId}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="Feed",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get_feeds(self, **kwargs):  # noqa: E501
        """Gets a list of feeds  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feeds(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[Feed]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get_feeds_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_feeds_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_feeds_with_http_info(self, **kwargs):  # noqa: E501
        """Gets a list of feeds  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_feeds_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[Feed]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_feeds" % key
                )
            params[key] = val
        del params["kwargs"]

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/feed",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="list[Feed]",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def update_feed_with_form(self, feed_id, **kwargs):  # noqa: E501
        """Updates an existing feed with the specified ID with form data  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_feed_with_form(feed_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int feed_id: The ID of feed to update (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.update_feed_with_form_with_http_info(
                feed_id, **kwargs
            )  # noqa: E501
        else:
            (data) = self.update_feed_with_form_with_http_info(
                feed_id, **kwargs
            )  # noqa: E501
            return data

    def update_feed_with_form_with_http_info(self, feed_id, **kwargs):  # noqa: E501
        """Updates an existing feed with the specified ID with form data  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_feed_with_form_with_http_info(feed_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int feed_id: The ID of feed to update (required)
        :param Body body:
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["feed_id", "body"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_feed_with_form" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'feed_id' is set
        if "feed_id" not in params or params["feed_id"] is None:
            raise ValueError(
                "Missing the required parameter `feed_id` when calling `update_feed_with_form`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "feed_id" in params:
            path_params["feedId"] = params["feed_id"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if "body" in params:
            body_params = params["body"]
        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/feed/{feedId}",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
