{% load i18n %}
<div class="govuk-panel govuk-panel--confirmation bods-bg-blue-light">
  <h1 class="govuk-panel__title govuk-!-font-size-36">
    {% trans "Your data is being processed" %}
  </h1>
  <div class="govuk-panel__body govuk-!-font-size-19">
    <div class="pb3-l">
      {% blocktrans %}
        The data format is being checked to confirm it is NeTEx.</br />
        Once successfully validated the data set details will</br />
        be shown here.
        {% endblocktrans %}
    </div>
    <div id="progressOuterDiv" class="progress-bar-outer">
      <div class="loading-white" id="progressInnerDiv">
      </div>
    </div>
    <span class="loading-white-lg" id="progressSpan"></span>
  </div>
</div>
