{% load i18n %}
<table class="govuk-table dataset-property-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{% trans "Name" %}</th>
      <td class="govuk-table__cell dont-break-out">{% trans properties.name %}</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{% trans "Data set ID" %}</th>
      <td class="govuk-table__cell dont-break-out">{{ object.dataset_id }}</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{% trans "URL link" %}</th>
      <td class="govuk-table__cell">
        <span class="no-wrap" id="id-publish-review-url-link">
          <a class="govuk-link" href="{{ object.url_link }}">{% trans "Publisher URL" %}</a>
        </span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{% trans "Description" %}</th>
      <td class="govuk-table__cell">
        <div class="flex-between">
          {% trans properties.description %}
          <span><a class="right-justify govuk-link" href="{% url 'fares:revision-edit' pk=object.dataset_id pk1=pk1 host hosts.publish %}">
            {% trans "Edit" %}
          </a>
        </span>
      </div>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Short description" %}</th>
    <td class="govuk-table__cell dont-break-out">
      <div class="flex-between">
        {% trans properties.short_description %}
        <a class="govuk-link" href="{% url 'fares:revision-edit' pk=object.dataset_id pk1=pk1 host hosts.publish %}">
          {% trans "Edit" %}
        </a>
      </div>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Status" %}</th>
    <td class="govuk-table__cell">
      <div class="flex-between">
        {% include "organisation/snippets/status_indicator.html" with status=properties.status %}
      </div>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Owner" %}</th>
    <td class="govuk-table__cell">{% trans properties.owner_name %}</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "NeTEx Version " %}</th>
    <td class="govuk-table__cell">{{ metadata.schema_version }}</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Download NeTEx" %}</th>
    <td class="govuk-table__cell">
      <span class="no-wrap right-justify">
        {% url 'feed-download' pk1=pk1 pk=object.dataset_id host host.name as download_link %}
        <a class="govuk-link"
           href="  {% if object.url_link %}{{ object.url_link }}{% else %}{{ download_link }}?is_review=true{% endif %}">
          {% trans "Download .xml (NeTEx)" %}
        </a>
      </span>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Last updated" %}</th>
    <td class="govuk-table__cell">
      <div class="flex-between">
        <span>
          {# Note we use last modified time rather than published_at since the revision won't be published yet #}
          {{ properties.last_modified|date:"j M Y H:i" }}
          {% trans "by " %}
          {{ properties.last_modified_user|default_if_none:'System' }}
        </span>
      </div>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Number of fare zones" %}</th>
    <td class="govuk-table__cell">{{ metadata.num_of_fare_zones }}</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Number of lines" %}</th>
    <td class="govuk-table__cell">{{ metadata.num_of_lines }}</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Number of sales offer packages " %}</th>
    <td class="govuk-table__cell">{{ metadata.num_of_sales_offer_packages }}</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Number of fare products" %}</th>
    <td class="govuk-table__cell">{{ metadata.num_of_fare_products }}</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Number of user types" %}</th>
    <td class="govuk-table__cell">{{ metadata.num_of_user_profiles }}</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Earliest start date" %}</th>
    <td class="govuk-table__cell">{{ metadata.valid_from }}</td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{% trans "Earliest end date" %}</th>
    <td class="govuk-table__cell">{{ metadata.valid_to }}</td>
  </tr>
</tbody>
</table>
