{% load i18n %}
{% load crispy_forms_tags %}
{% load waffle_tags %}


{# Preview Section #}
{% flag "is_fares_validator_active" %}
    <div class="govuk-!-margin-top-6" id="preview-section">
        {# Fares Validator Section - Succes/Fail Message #}
        <div class="app-dqs-panel govuk-!-margin-bottom-7">
            <div class="app-dqs-panel__body">
                <div class="app-dqs-panel__success">
                    {% if validator_error %}
                        <h2 class="govuk-heading-m">Validation Check - Failed</h2>
                        <p class="govuk-body">
                            {% blocktrans %}
                                The validation report checks for compliance against the mandated NeTEx Profile.
                            {% endblocktrans %}
                            <br />
                            <br />
                            <a class="govuk-link" href="{% url 'transit_odp.fares_exporter' pk1 pk2 host hosts.publish %}">Download validation report</a>
                            <br />
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            {% blocktrans %}
                                The fares data supplied is non-compliant. You can publish this
                                dataset now, however it is important to address the issues
                                highightlighted in the report with your supplier. Please contact
                                the helpdesk if there are any items on the report which your
                                supplier cannot help you with.
                            {% endblocktrans %}
                        </p>
                    {% else %}
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Validation Check - Passed</h2>
                    {% endif %}
                </div>
            </div>
        </div>
{% else %}
    <div id="preview-section">
{% endflag %}

{# Publish form #}
<div class="govuk-!-margin-bottom-6">
    {% crispy form %}
</div>

<h2 class="govuk-heading-l dont-break-out">
    {{ object.name }}
</h2>
{% include 'publish/snippets/dataset_map.html' %}
{% include 'fares/review/property_table.html' %}

<div class="btn-group-justified">
    <a role="button" class="govuk-button govuk-button--secondary"
        href="{% url 'fares:revision-delete' pk1=pk1 pk=object.dataset_id host hosts.publish %}">
        {{ _('Delete data set') }}
    </a>
</div>
</div>
