{% load i18n %}

<h3 class="govuk-heading-m">Select operator</h3>
<div class="select-wrapper govuk-!-width-one-third govuk-!-margin-bottom-7">
  <select class="govuk-!-width-full govuk-select"
          id="operator-select"
          name="operator"
          data-qa="operator-select"
          aria-label="Select organisation"
          onchange="window.location.assign(this.value)">

    {% for org in user.organisations.all %}
      {% url 'users:organisation-profile' pk=org.id host hosts.publish as nav_url %}
      <option value="{{ nav_url }}"
        {% if nav_url == current_url %}selected{% endif %}>
        {{org.name}}
      </option>
    {% endfor %}
  </select>
</div>
