{% load i18n %}
{% load relative_url %}
{% load paginator_range %}
{# Using django_tables2 'table_page_range' tag to return a list of max 10 (by default) page numbers #}

{# note in the 'querystring' tags, I've hardcoded query param 'page', could use prefixed_page_field #}

{% with prefixed_page_field=prefixed_page_field|default:"page" %}
    {% with params=request.GET.urlencode %}

        {% block pagination %}
            <nav class="govuk-pagination" role="navigation" aria-label="Pagination" style="justify-content: center;">
                {% if page.has_previous %}
                <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link" href="{% relative_url page.previous_page_number prefixed_page_field params %}" rel="prev">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                        </svg>
                        <span class="govuk-pagination__link-title">Previous<span class="govuk-visually-hidden"> page</span></span>
                    </a>
                </div>
                {% endif %}
                <ul class="govuk-pagination__list">
                    {% for item in page|paginator_range:paginator %}
                        {% if page.number == item %}
                            <li class="govuk-pagination__item govuk-pagination__item--current">
                                <a class="govuk-link govuk-pagination__link" href="{% relative_url item prefixed_page_field params %}" aria-label="Page 1">
                                    {{ item }}
                                </a>
                            </li>
                        {% elif item == "..." %}
                            <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
                        {% else %}
                            <li class="govuk-pagination__item">
                                <a class="govuk-link govuk-pagination__link" href="{% relative_url item prefixed_page_field params %}" aria-label="Page 1">
                                    {{ item }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if page.has_next %}
                <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link" href="{% relative_url page.next_page_number prefixed_page_field params %}" rel="next">
                        <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                    </a>
                </div>
                {% endif %}
            </nav>

        {% endblock pagination %}

    {% endwith %}
{% endwith %}
