{% extends 'snippets/pagination.html' %}
{% load django_tables2 %}
{% load relative_url %}
{% load i18n %}

{% block pagination %}
  <div class="govuk-grid-row" >
    <div class="govuk-grid-column-one-third browse_pagination__previous">
      {% if page.has_previous %}
        <a class="browse_pagination_links"
           href="{% relative_url page.previous_page_number prefixed_page_field params %}">
            <i class="fas fa-arrow-left browse_pagination_icon_left"></i>
            {% trans "Previous page" %}
        </a>
      {% else %}
        <a class="browse_pagination_links noclick">
          <i class="fas fa-arrow-left browse_pagination_icon_left"></i>
          {% trans "Previous page" %}
        </a>
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-third browse_pagination__numbers">
      {% for item in page|table_page_range:paginator %}
         {% if page.number == item or item == "..." %}
           <a class="browse_pagination_links_numbers noclick">
         {% else %}
           <a class="browse_pagination_links_numbers" href="{% relative_url item prefixed_page_field params %}">
         {% endif %}
           {{ item }}
        </a>
      {% endfor %}
    </div>
    <div class="govuk-grid-column-one-third browse_pagination__next" >
      {% if page.has_next %}
        <a class="browse_pagination_links" href="{% relative_url page.next_page_number prefixed_page_field params %}">
            {% trans "Next page" %}
            <i class="fas fa-arrow-right browse_pagination_icon_right"></i>
        </a>
      {% else %}
        <a class="browse_pagination_links noclick">
          {% trans "Next page" %}
          <i class="fas fa-arrow-right browse_pagination_icon_right"></i>
        </a>
      {% endif %}
    </div>
  </div>
{% endblock pagination %}
